<script lang="ts">
  import { removeSupplicant } from '$lib/services/users';
  import { userSession } from '$lib/stores/auth';
  import { selectedGroup } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import type { Supplicant } from '$lib/types/users';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let data: Supplicant;
  let message = '';

  export const submitDeleteUser = async () => {
    $showSpinner = true;
    const { Error } = await removeSupplicant($userSession!.ID, {
      Username: data.Username,
      Group_ID: $selectedGroup.ID
    });
    if (Error) {
      message = Error;
    } else {
      message = '';
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<p class="text-sm text-gray-800">Are you sure you want to delete "{data.Username}"?</p>
<p class="text-sm text-gray-800">This action is not recoverable.</p>
