<script lang="ts">
  import { importSupplicants } from '$lib/services/users';
  import { userSession } from '$lib/stores/auth';
  import { selectedGroup } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  let message = '';
  let files: FileList;

  export const submitImportUser = async () => {
    $showSpinner = true;
    const { Error } = await importSupplicants($userSession!.ID, $selectedGroup.ID, files[0]);
    if (Error) {
      message = Error;
    } else {
      message = '';
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<div class="text-sm text-gray-800">
  <p>
    You can import devices into this Site using the button below. Make sure your data matches the
    import format <a
      class="text-primary text-opacity-80"
      href="http://help.enterpriseauth.com/#export"
      target="_blank">here</a
    >.
  </p>
  <input class="my-4" type="file" accept=".csv" bind:files />
</div>
