<script lang="ts">
  import type { TableHeader } from '$lib/types/table';
  import { DateInput } from 'date-picker-svelte';
  import Card from '$lib/components/Card.svelte';
  import PanelHeader from '$lib/components/PanelHeader.svelte';
  import Table from '$lib/components/table/Table.svelte';
  import moment from 'moment-timezone';
  import { onDestroy, onMount } from 'svelte';
  import { showSpinner } from '$lib/stores/spinner';
  import { fetchRadiusLog } from '$lib/services/users';
  import { radius_logs } from '$lib/stores/users';
  import { selectedGroup } from '$lib/stores/groups';
  import LogChart from '$lib/components/LogChart.svelte';
  import { slide } from 'svelte/transition';
  import { variables } from '$lib/utils/variables';
  import { userSession } from '$lib/stores/auth';
  import { goto } from '$app/navigation';

  let searchText: string = '';

  let date: Date = new Date();
  let includeStray: boolean = false;
  let includeBubble: boolean = false;
  let chartData: [number[], number[]];
  let chartExpanded = true;

  const headers: TableHeader[] = [
    { key: 'Username', value: 'Username' },
    { key: 'Group_ID', value: 'Site ID' },
    { key: 'CalledStationId', value: 'Called Station ID' },
    { key: 'CallingStationId', value: 'Calling Station ID' },
    {
      key: 'EventTimestamp',
      value: 'Event Timestamp',
      display: (item) =>
        moment
          .tz(moment.utc(item, 'MMM DD YYYY HH:mm:ss Z'), $selectedGroup.TimeZone)
          .format('YYYY-MM-DD HH:mm:ss zz')
    },
    { key: 'NASIdentifier', value: 'NAS Identifier' },
    { key: 'NASIpAddress', value: 'NAS IP Address' }
  ];

  $: {
    if ($selectedGroup && $selectedGroup.ID) {
      const interval: [number, number] = [
        moment.tz(date, $selectedGroup.TimeZone).startOf('day').valueOf() * 10,
        moment.tz(date, $selectedGroup.TimeZone).endOf('day').valueOf() * 10
      ];
      refreshRadiusLog($selectedGroup.ID, includeStray, includeBubble, interval);
    }
  }

  $: logs = $radius_logs.filter((logs) => {
    if (!searchText) return true;
    return (
      includesTextIn(logs.Username, searchText) ||
      includesTextIn(logs.Group_ID, searchText) ||
      includesTextIn(logs.CalledStationId, searchText) ||
      includesTextIn(logs.CallingStationId, searchText) ||
      includesTextIn(logs.NASIdentifier, searchText) ||
      includesTextIn(logs.NASIpAddress, searchText)
    );
  });

  function updateChartData() {
    // Set Initial time gap to 0 and increase it by 1 hours
    let timestamps = [
      moment.tz(date, $selectedGroup.TimeZone).startOf('day').valueOf(),
      moment.tz(date, $selectedGroup.TimeZone).endOf('day').valueOf()
    ];

    let gap = 0;
    let access_accept_reqs: number[] = [];
    let access_reject_reqs: number[] = [];

    for (let i = 0; i < 24; i++) {
      // Assign 0 for initial values for each hour
      access_accept_reqs[i] = 0;
      access_reject_reqs[i] = 0;

      let start_date = moment
        .unix(timestamps[0] / 1000)
        .add(gap, 'hours')
        .valueOf();

      gap = gap + 1;

      let end_date = moment
        .unix(timestamps[0] / 1000)
        .add(gap, 'hours')
        .valueOf();

      for (let j = 0; j < $radius_logs.length; j++) {
        let inst = Number($radius_logs[j].Instance.toString().slice(0, -1));
        // Check for Request Count
        if (inst >= start_date && inst < end_date) {
          if (logs[j].Access == 'Access-Accept') access_accept_reqs[i]++;
          else access_reject_reqs[i]++;
        }
      }
    }

    chartData = [access_accept_reqs, access_reject_reqs];
  }

  function includesTextIn(source: string | number, search: string) {
    if (!source) return false;
    return source.toString().toLowerCase().includes(search.toLowerCase());
  }

  async function refreshRadiusLog(
    groupId: string,
    stray: boolean,
    bubble: boolean,
    interval: [number, number]
  ) {
    $showSpinner = true;
    await fetchRadiusLog($userSession!.ID, {
      groupId: groupId,
      includeStray: stray,
      includeBubble: bubble,
      interval: interval
    });
    updateChartData();
    $showSpinner = false;
  }

  function onExportLogs() {
    const exportLogsURL =
      variables.apiPath +
      '/erad/admin/supplicant/log/export/csv?Session_ID=' +
      $userSession?.ID +
      '&Group_ID=' +
      $selectedGroup.ID +
      '&Include_Stray=' +
      includeStray +
      '&Include_Bubble=' +
      includeBubble +
      '&Instance_From=' +
      moment.tz(date, $selectedGroup.TimeZone).startOf('day').valueOf() * 10 +
      '&Instance_To=' +
      moment.tz(date, $selectedGroup.TimeZone).endOf('day').valueOf() * 10;
    window.location.href = exportLogsURL;
  }

  onMount(() => {
    if (!$userSession) {
      goto('/login', { replaceState: true });
    }
  });

  onDestroy(() => {
    radius_logs.set([]);
  });
</script>

{#if $userSession}
  <div class="mx-auto mt-4 flex max-w-screen-lg flex-col gap-y-5 px-4 md:px-6 lg:px-8">
    <PanelHeader />
    <Card>
      <div slot="head" class="flex flex-col items-center gap-4 md:flex-row md:justify-between">
        <div class="flex flex-col items-center gap-4 md:flex-row">
          <a href="/users" class="btn md:w-32 lg:w-36">Close Log</a>
          <div
            class="flex flex-wrap items-center justify-center gap-4 text-sm text-primary text-opacity-80 md:gap-3 md:text-xs lg:gap-4 lg:text-sm"
          >
            {#if $radius_logs.length > 0}
              <button on:click={onExportLogs}>Export Log</button>
            {/if}
            <div>
              <div class="flex items-center">
                <input
                  id="unmatched-logs-checkbox"
                  type="checkbox"
                  class="h-3.5 w-3.5 rounded border-gray-300 bg-gray-100 focus:outline-none"
                  bind:checked={includeStray}
                />
                <label for="unmatched-logs-checkbox" class="ml-2 font-bold text-gray-900">
                  Show unmatched attempts
                </label>
              </div>
              <div class="flex items-center">
                <input
                  id="all-logs-checkbox"
                  type="checkbox"
                  class="h-3.5 w-3.5 rounded border-gray-300 bg-gray-100 focus:outline-none"
                  bind:checked={includeBubble}
                />
                <label for="all-logs-checkbox" class="ml-2 font-bold text-gray-900">
                  Show all logs
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex gap-2">
          <div class="log-date-container relative md:w-36">
            <div class="pointer-events-none absolute inset-y-0 right-0 z-10 flex items-center px-3">
              <svg class="h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <DateInput
              bind:value={date}
              placeholder="Select date"
              format="MM-dd-yyyy"
              closeOnSelection
            />
          </div>
          <div class="w-full md:w-48 lg:w-72">
            <input
              class="w-full appearance-none rounded border border-gray-300 py-1.5 px-3 text-sm text-gray-700 focus:border-primary focus:border-opacity-50 focus:outline-none"
              type="text"
              placeholder="Search logs"
              bind:value={searchText}
            />
          </div>
        </div>
      </div>
      <div slot="body" class="p-4">
        {#if chartData}
          <button
            class="rounded border p-1 hover:bg-gray-50"
            on:click={() => (chartExpanded = !chartExpanded)}
          >
            {#if chartExpanded}
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM7 9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H7z"
                  clip-rule="evenodd"
                />
              </svg>
            {:else}
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11a1 1 0 1 0-2 0v2H7a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2V7z"
                  clip-rule="evenodd"
                />
              </svg>
            {/if}
          </button>
          {#if chartExpanded}
            <div class="px-0 lg:h-96 lg:px-20" transition:slide|local>
              <LogChart data={chartData} />
            </div>
          {/if}
          <hr class="my-5" />
        {/if}
        <div class="mb-4 rounded shadow">
          <Table sortable {headers} rows={logs}>
            <svelte:fragment slot="cell" let:cell let:row>
              {#if cell.key === 'Username'}
                <div class="flex gap-1">
                  <svg
                    class="h-4 w-4 text-gray-300"
                    class:text-gray-300={!row.IsProxied}
                    class:text-green-500={row.IsProxied}
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="3"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.111 16.404a5.5 5.5 0 0 1 7.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0"
                    />
                  </svg>
                  {#if row.Access === 'Access-Accept'}
                    <svg
                      class="h-4 w-4 text-green-500"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="4"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="m5 13 4 4L19 7" />
                    </svg>
                  {:else}
                    <svg
                      class="h-4 w-4 text-rose-500"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  {/if}
                  {cell.display ? cell.display(cell.value || '') : cell.value || ''}
                </div>
              {:else}
                {cell.display ? cell.display(cell.value || '') : cell.value || ''}
              {/if}
            </svelte:fragment>
          </Table>
        </div>
      </div>
    </Card>
  </div>
{/if}

<style lang="postcss">
  .log-date-container :global(.date-time-field input) {
    @apply w-full cursor-pointer appearance-none rounded border border-gray-300 py-1.5 px-3 text-sm text-gray-700 focus:outline-none focus:ring focus:ring-blue-200;
  }
</style>
