<script lang="ts">
  import PanelHeader from '$lib/components/PanelHeader.svelte';
  import Card from '$lib/components/Card.svelte';
  import GoBackButton from '$lib/components/GoBackButton.svelte';
  import ApiKeys from '$lib/components/admin/ApiKeys.svelte';
  import Accounts from '$lib/components/admin/Accounts.svelte';
  import Alert from '$lib/components/Alert.svelte';
  import { onMount } from 'svelte';
  import { showSpinner } from '$lib/stores/spinner';
  import { fetchAPIKeyList } from '$lib/services/api-keys';
  import { fetchAccountList } from '$lib/services/accounts';
  import { userSession } from '$lib/stores/auth';
  import { goto } from '$app/navigation';

  onMount(async () => {
    if ($userSession) {
      $showSpinner = true;
      await Promise.all([fetchAPIKeyList($userSession.ID), fetchAccountList($userSession.ID)]);
      $showSpinner = false;
    } else {
      goto('/login', { replaceState: true });
    }
  });
</script>

{#if $userSession}
  <div class="mx-auto mt-4 flex max-w-screen-lg flex-col gap-y-5 px-4 md:px-6 lg:px-8">
    {#if $userSession.AccountOwner === 1}
      <PanelHeader />
      <Card>
        <div slot="head" class="flex items-center justify-between">
          <div class="font-bold text-gray-700">Admin</div>
          <GoBackButton />
        </div>
      </Card>
      <ApiKeys />
      <Accounts />
    {:else}
      <Alert message="You do not have enough permission to view this page" type="danger" />
    {/if}
  </div>
{/if}
