<script lang="ts">
  import { DateInput } from 'date-picker-svelte';
  import type { TableHeader } from '$lib/types/table';
  import PanelHeader from '$lib/components/PanelHeader.svelte';
  import Card from '$lib/components/Card.svelte';
  import Table from '$lib/components/table/Table.svelte';
  import moment from 'moment-timezone';
  import { selectedGroup } from '$lib/stores/groups';
  import { onDestroy, onMount } from 'svelte';
  import { showSpinner } from '$lib/stores/spinner';
  import { fetchChangeHistory } from '$lib/services/users';
  import { audits } from '$lib/stores/users';
  import { userSession } from '$lib/stores/auth';
  import { goto } from '$app/navigation';

  let searchText: string = '';
  let fromDate: Date = moment().startOf('day').subtract(1, 'month').toDate();
  let toDate: Date = moment().endOf('day').toDate();

  const headers: TableHeader[] = [
    {
      key: 'Date',
      value: 'Date',
      display: (item) => moment(item).format('MMM D, YYYY, h:mm:ss a')
    },
    { key: 'Group_ID', value: 'Group ID' },
    { key: 'Identifier', value: 'Identifier' },
    { key: 'Instance', value: 'Instance' },
    { key: 'Message', value: 'Message' }
  ];

  $: histories = $audits.filter((audit) => {
    if (!searchText) return true;
    return (
      includesTextIn(audit.Group_ID, searchText) ||
      includesTextIn(audit.Identifier, searchText) ||
      includesTextIn(audit.Instance, searchText) ||
      includesTextIn(audit.Message, searchText)
    );
  });

  function includesTextIn(source: string | number, search: string) {
    if (!source) return false;
    return source.toString().toLowerCase().includes(search.toLowerCase());
  }

  onMount(async () => {
    if ($userSession) {
      await refreshChangeHistory();
    } else {
      goto('/login', { replaceState: true });
    }
  });

  onDestroy(() => {
    audits.set([]);
  });

  async function refreshChangeHistory() {
    $showSpinner = true;
    await fetchChangeHistory($userSession!.ID, {
      groupId: $selectedGroup.ID,
      start: moment.tz(fromDate, $selectedGroup.TimeZone).toISOString(),
      end: moment.tz(toDate, $selectedGroup.TimeZone).toISOString()
    });
    $showSpinner = false;
  }
</script>

{#if $userSession}
  <div class="mx-auto mt-4 flex max-w-screen-lg flex-col gap-y-5 px-4 md:px-6 lg:px-8">
    <PanelHeader />
    <div class="rounded-md border border-red-400 bg-red-100 p-4 text-sm text-red-600">
      This page is in beta. Please report bugs and include screen shots when possible.
    </div>

    <Card>
      <div slot="head" class="flex items-center justify-between">
        <div class="font-bold text-gray-700">Change History</div>
      </div>
    </Card>

    <Card>
      <div slot="head" class="flex flex-col items-center gap-4 md:flex-row md:justify-between">
        <a href="/users" class="btn w-full md:w-32 lg:w-36">Close History</a>
        <div class="flex w-full flex-col gap-4 md:w-auto md:flex-row">
          <div class="flex items-center text-sm">
            <div class="rounded-l border border-r-0 border-gray-300 bg-gray-200 py-1.5 px-3">
              From:
            </div>
            <div class="log-date-container relative w-full md:w-36">
              <div
                class="pointer-events-none absolute inset-y-0 right-0 z-10 flex items-center px-3"
              >
                <svg class="h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                  <path
                    fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <DateInput
                bind:value={fromDate}
                placeholder="Select date"
                format="MM-dd-yyyy"
                closeOnSelection
              />
            </div>
          </div>
          <div class="flex items-center text-sm">
            <div class="rounded-l border border-r-0 border-gray-300 bg-gray-200 py-1.5 px-3">
              To:
            </div>
            <div class="log-date-container relative w-full md:w-36">
              <div
                class="pointer-events-none absolute inset-y-0 right-0 z-10 flex items-center px-3"
              >
                <svg class="h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                  <path
                    fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <DateInput
                bind:value={toDate}
                placeholder="Select date"
                format="MM-dd-yyyy"
                closeOnSelection
              />
            </div>
          </div>
        </div>
        <div class="w-full md:w-48 lg:w-72">
          <input
            class="w-full appearance-none rounded border border-gray-300 py-1.5 px-3 text-sm text-gray-700 focus:border-primary focus:border-opacity-50 focus:outline-none"
            type="text"
            placeholder="Search logs"
            bind:value={searchText}
          />
        </div>
        <button class="btn h-8 w-8" on:click={refreshChangeHistory}>
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 4v5h.582m15.356 2A8.001 8.001 0 0 0 4.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 0 1-15.357-2m15.357 2H15"
            />
          </svg>
        </button>
      </div>
      <div slot="body" class="p-4">
        <div class="mb-4 rounded shadow">
          <Table sortable {headers} rows={histories}>
            <svelte:fragment slot="cell" let:cell>
              {cell.display ? cell.display(cell.value || '') : cell.value || ''}
            </svelte:fragment>
          </Table>
        </div>
      </div>
    </Card>
  </div>
{/if}

<style lang="postcss">
  .log-date-container :global(.date-time-field input) {
    @apply w-full cursor-pointer appearance-none rounded-r rounded-l-none border border-gray-300 py-1.5 px-3 text-sm text-gray-700 focus:outline-none focus:ring focus:ring-blue-200;
  }
</style>
