<script lang="ts">
  import Card from '$lib/components/Card.svelte';
  import GoBackButton from '$lib/components/GoBackButton.svelte';
  import DeleteSite from '$lib/components/group/DeleteSite.svelte';
  import Modal from '$lib/components/Modal.svelte';
  import { onMount } from 'svelte';
  import { groups } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import type { Group } from '$lib/types/groups';
  import { goto } from '$app/navigation';
  import { fetchGroupList, fetchSelectedGroup } from '$lib/services/groups';
  import { userSession } from '$lib/stores/auth';

  $: canEdit = $userSession?.AccountOwner === 1;

  let siteToRemove: Group;

  let showDeleteSiteModal = false;
  let submitDeleteSite: () => Promise<void>;

  onMount(async () => {
    if ($userSession) {
      $showSpinner = true;
      await fetchGroupList($userSession.ID);
      $showSpinner = false;
    } else {
      goto('/login', { replaceState: true });
    }
  });

  function confirmDeleteSite(group: Group) {
    siteToRemove = group;
    showDeleteSiteModal = true;
  }

  async function selectSite(group: Group) {
    $showSpinner = true;
    await fetchSelectedGroup($userSession!.ID, group.ID);
    $showSpinner = false;
    goto('/users');
  }
</script>

{#if $userSession}
  <div class="mx-auto my-4 max-w-screen-lg px-4 md:px-6 lg:px-8">
    <Card>
      <div slot="head" class="flex items-center justify-between">
        <div class="font-bold text-gray-700">Choose Site</div>
        <GoBackButton />
      </div>
      <div slot="body">
        {#each $groups as group (group.ID)}
          <div class="flex items-center justify-between border-b border-gray-200 px-4 py-2.5">
            <div class="text-lg font-bold leading-[30px] text-gray-700">{group.Name}</div>
            <div class="flex items-center space-x-2 text-sm text-primary text-opacity-80">
              {#if canEdit && group.Name !== 'Global'}
                <button on:click={() => confirmDeleteSite(group)} class="hover:underline">
                  Remove
                </button>
                <span class="text-gray-400">|</span>
              {/if}
              <button on:click={() => selectSite(group)} class="hover:underline">Select</button>
            </div>
          </div>
        {/each}
      </div>
    </Card>
  </div>

  <Modal
    title="Delete Site"
    okText="Delete"
    isOpen={showDeleteSiteModal}
    on:close={() => (showDeleteSiteModal = false)}
    on:ok={submitDeleteSite}
  >
    <DeleteSite
      group={siteToRemove}
      bind:submitDeleteSite
      on:done={() => {
        showDeleteSiteModal = false;
      }}
    />
  </Modal>
{/if}
