<script lang="ts">
  import Alert from '$lib/components/Alert.svelte';
  import { api } from '$lib/utils/api';
  import { authenticate } from '$lib/utils/auth';
  import { isEmail } from '$lib/utils/validation';
  import { showSpinner } from '$lib/stores/spinner';
  import { onMount } from 'svelte';
  import { userSession } from '$lib/stores/auth';
  import { goto } from '$app/navigation';

  let email = '';
  let password = '';
  let message = '';
  let submitted = false;

  $: emailValid = isEmail(email);
  $: passwordValid = password !== '';
  $: formIsValid = emailValid && passwordValid;

  onMount(() => {
    if ($userSession) {
      goto('/');
    }
  });

  async function handleSubmit() {
    submitted = true;
    if (!formIsValid) {
      return;
    }

    $showSpinner = true;

    try {
      const res = await api('POST', '/erad/public/account/login', {
        AccountOwner: {
          Email: email,
          Password: password
        }
      });
      if (res.Error) {
        throw new Error('Login Failed: Email or password is incorrect');
      }

      const authRes = await authenticate(res.Session_ID);
      if (authRes.Error) {
        throw new Error('Session Expired. Please log in again.');
      }
      goto('/', { replaceState: true });
    } catch (err: any) {
      message = err.message || 'Something went wrong. Please try again.';
      $showSpinner = false;
    }
  }
</script>

<div class="mx-4 mt-8 flex items-center justify-center">
  <div class="w-full max-w-md">
    <form
      on:submit|preventDefault={handleSubmit}
      class="mb-4 rounded bg-white px-8 pt-6 pb-8 shadow-lg"
      novalidate
    >
      <div class="mb-4 flex justify-center border-b-2 py-2 text-2xl text-gray-800">Login</div>
      <Alert type="danger" {message} on:click={() => (message = '')} />
      <div class="mb-4">
        <label class="mb-2 block text-sm text-gray-700" for="email">Email</label>
        <input
          class="w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow-sm focus:border-primary focus:border-opacity-50 focus:outline-none"
          class:border-red-500={!emailValid && submitted}
          name="email"
          type="email"
          placeholder="Email"
          bind:value={email}
        />
        {#if !emailValid && submitted}
          <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
            A valid email is required
          </span>
        {/if}
      </div>
      <div class="mb-6">
        <label class="mb-2 block text-sm text-gray-700" for="password">Password</label>
        <input
          class="w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow-sm focus:border-primary focus:border-opacity-50 focus:outline-none"
          class:border-red-500={!passwordValid && submitted}
          name="password"
          type="password"
          placeholder="Password"
          bind:value={password}
        />
        {#if !passwordValid && submitted}
          <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
            Password is required
          </span>
        {/if}
      </div>
      <button class="btn btn-primary shadow-lg" type="submit">Sign In</button>
    </form>
  </div>
</div>
