<script lang="ts">
  import type { TableHeader, TableRow } from '$lib/types/table';
  import PanelHeader from '$lib/components/PanelHeader.svelte';
  import Card from '$lib/components/Card.svelte';
  import Table from '$lib/components/table/Table.svelte';
  import Modal from '$lib/components/Modal.svelte';
  import AddEditUser from '$lib/components/user/AddEditUser.svelte';
  import DeleteUser from '$lib/components/user/DeleteUser.svelte';
  import ImportUser from '$lib/components/user/ImportUser.svelte';
  import { onMount } from 'svelte';
  import { showSpinner } from '$lib/stores/spinner';
  import { fetchSupplicantList } from '$lib/services/users';
  import { selectedGroup } from '$lib/stores/groups';
  import { supplicants } from '$lib/stores/users';
  import moment from 'moment';
  import type { Supplicant } from '$lib/types/users';
  import { variables } from '$lib/utils/variables';
  import { userSession } from '$lib/stores/auth';
  import { goto } from '$app/navigation';

  let selectedDevice: Supplicant;
  let searchText: string = '';

  let showAddUserModal = false;
  let showEditUserModal = false;
  let showDeleteUserModal = false;
  let showImportUserModal = false;

  let submitAddEditUser: () => Promise<void>;
  let submitDeleteUser: () => Promise<void>;
  let submitImportUser: () => Promise<void>;

  onMount(async () => {
    if ($userSession) {
      $showSpinner = true;
      await fetchSupplicantList($userSession.ID, $selectedGroup.ID || 'Global');
      $showSpinner = false;
    } else {
      goto('/login', { replaceState: true });
    }
  });

  const headers: TableHeader[] = [
    { key: 'DeviceName', value: 'DeviceName' },
    { key: 'Username', value: 'Username/MAC' },
    { key: 'Description', value: 'Description' },
    {
      key: 'ExpirationDate',
      value: 'Expiration',
      display: (item) => (moment(item).isValid() ? moment(item).format('MM/DD/YYYY') : '')
    },
    { key: 'Vlan', value: 'Vlan' },
    { key: 'action', value: 'Action', sort: false }
  ];

  $: supplicantList = $supplicants.filter((supplicant) => {
    if (!searchText) return true;
    return (
      includesTextIn(supplicant.DeviceName, searchText) ||
      includesTextIn(supplicant.Username, searchText) ||
      includesTextIn(supplicant.Description, searchText) ||
      includesTextIn(supplicant.Vlan, searchText)
    );
  });

  function includesTextIn(source: string, search: string) {
    if (!source) return false;
    return source.toString().toLowerCase().includes(search.toLowerCase());
  }

  function onEditDevice(device: TableRow) {
    selectedDevice = device as Supplicant;
    showEditUserModal = true;
  }

  function onDeleteDevice(device: TableRow) {
    selectedDevice = device as Supplicant;
    showDeleteUserModal = true;
  }

  function onExportUsers() {
    const exportUsersURL = `${variables.apiPath}/erad/admin/supplicant/export/csv?Session_ID=${$userSession?.ID}&Group_ID=${$selectedGroup.ID}`;
    window.location.href = exportUsersURL;
  }
</script>

{#if $userSession}
  <div class="mx-auto mt-4 flex max-w-screen-lg flex-col gap-y-5 px-4 md:px-6 lg:px-8">
    <PanelHeader />
    <Card>
      <div slot="head" class="flex flex-col items-center gap-4 md:flex-row md:justify-between">
        <div class="flex flex-col items-center gap-4 md:flex-row">
          <button on:click={() => (showAddUserModal = true)} class="btn md:w-32 lg:w-36">
            Add Device
          </button>
          <div
            class="flex flex-wrap items-center justify-center gap-4 text-sm text-primary text-opacity-80 md:gap-3 md:text-xs lg:gap-4 lg:text-sm"
          >
            <button on:click={() => (showImportUserModal = true)}>Import</button>
            <span class="hidden text-gray-400 md:block">|</span>
            <button on:click={onExportUsers}>Export</button>
            <span class="hidden text-gray-400 md:block">|</span>
            <a href="/aaa-log">AAA Log</a>
            <span class="hidden text-gray-400 md:block">|</span>
            <a href="/change-history">Change History <sup>BETA</sup></a>
          </div>
        </div>
        <div class="w-full md:w-48 lg:w-72">
          <input
            class="w-full appearance-none rounded border border-gray-300 py-1.5 px-3 text-sm text-gray-700 focus:border-primary focus:border-opacity-50 focus:outline-none"
            type="text"
            placeholder="Search devices"
            bind:value={searchText}
          />
        </div>
      </div>
      <div slot="body" class="p-4">
        <div class="mb-4 rounded shadow">
          <Table sortable {headers} rows={supplicantList}>
            <svelte:fragment slot="cell" let:cell let:row>
              {#if cell.key === 'action'}
                <div class="flex items-center space-x-2 text-xs text-primary text-opacity-80">
                  <button class="hover:underline" on:click={() => onEditDevice(row)}>Edit</button>
                  <span class="text-gray-400">|</span>
                  <button class="hover:underline" on:click={() => onDeleteDevice(row)}>
                    Remove
                  </button>
                </div>
              {:else}
                {cell.display ? cell.display(cell.value || '') : cell.value || ''}
              {/if}
            </svelte:fragment>
          </Table>
        </div>
      </div>
    </Card>
  </div>

  <Modal
    title="Add New Device"
    okText="Create"
    isOpen={showAddUserModal}
    on:close={() => (showAddUserModal = false)}
    on:ok={submitAddEditUser}
  >
    <AddEditUser
      action="add"
      bind:submitAddEditUser
      on:done={() => {
        showAddUserModal = false;
      }}
    />
  </Modal>

  <Modal
    title="Edit Device"
    okText="Update"
    isOpen={showEditUserModal}
    on:close={() => (showEditUserModal = false)}
    on:ok={submitAddEditUser}
  >
    <AddEditUser
      action="edit"
      data={selectedDevice}
      bind:submitAddEditUser
      on:done={() => {
        showEditUserModal = false;
      }}
    />
  </Modal>

  <Modal
    title="Delete Device"
    okText="Delete"
    isOpen={showDeleteUserModal}
    on:close={() => (showDeleteUserModal = false)}
    on:ok={submitDeleteUser}
  >
    <DeleteUser
      data={selectedDevice}
      bind:submitDeleteUser
      on:done={() => {
        showDeleteUserModal = false;
      }}
    />
  </Modal>

  <Modal
    title="Import Users"
    okText="Upload"
    isOpen={showImportUserModal}
    on:close={() => (showImportUserModal = false)}
    on:ok={submitImportUser}
  >
    <ImportUser
      bind:submitImportUser
      on:done={() => {
        showImportUserModal = false;
      }}
    />
  </Modal>
{/if}
