<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enterprise Admin</title>
    <meta name="description" content="Enterprise Admin Device Management">


  </head>
  <body ng-app="eradApp" ng-strict-di>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="loading">
       <div class="loading-backdrop"></div>
       <div class="loader">
          <div spinner></div>
       </div>
    </div>

    <nav id="myNavbar" class="navbar navbar-default navbar-static-top navbar-inverse bluebar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container" ng-controller="HeaderCtrl as vm">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" href="#">
                <em class="fa fa-wifi wifi-icon"></em>Enterprise Device Manager
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="admin-link" ng-if="vm.AppModel.isAccountOwner && vm.AppModel.isLoggedIn" ui-sref="admin" ng-bind="'Admin'"></a></li>
                <li><a id="login" ng-if="vm.loginPage" ui-sref="login" ng-bind="'Login'"></a></li>
                <li><a id="launch-help" ng-if="vm.AppModel.isLoggedIn" ng-click="vm.launchHelp()">Help</a></li>
                <li><a id="logout" ng-if="vm.AppModel.isLoggedIn" ng-click="vm.logout()" ng-bind="'Log Out'"></a></li>
            </ul>
        </div>
    </div>
  </nav>

  <div class="content">
      <div ui-view autoscroll="false"></div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-97628195-1', 'auto');
    ga('send', 'pageview');
  </script>


</body>
</html>
