<script lang="ts">
  import { fade } from 'svelte/transition';
  export let message: string = '';
  export let type: 'success' | 'danger' | 'info' | 'warning' = 'info';

  $: bgColorClass =
    type === 'info'
      ? 'bg-blue-100'
      : type === 'danger'
      ? 'bg-red-100'
      : type === 'success'
      ? 'bg-green-100'
      : 'bg-yellow-100';

  $: textColorClass =
    type === 'info'
      ? 'text-blue-700'
      : type === 'danger'
      ? 'text-red-700'
      : type === 'success'
      ? 'text-green-700'
      : 'text-yellow-700';

  $: closeBtnClass =
    type === 'info'
      ? 'bg-blue-100 text-blue-500 hover:bg-blue-200 focus:ring-blue-400'
      : type === 'danger'
      ? 'bg-red-100 text-red-500 hover:bg-red-200 focus:ring-red-400'
      : type === 'success'
      ? 'bg-green-100 text-green-500 hover:bg-green-200 focus:ring-green-400'
      : 'bg-yellow-100 text-yellow-500 hover:bg-yellow-200 focus:ring-yellow-400';
</script>

{#if message}
  <div class="mb-4 flex rounded-lg p-4 {bgColorClass}" role="alert" out:fade|local>
    <svg class="h-5 w-5 flex-shrink-0 {textColorClass}" fill="currentColor" viewBox="0 0 20 20">
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      />
    </svg>
    <div class="ml-3 text-sm font-medium {textColorClass}">
      {message}
    </div>
    <button
      on:click
      type="button"
      class="-mx-1.5 -my-1.5 ml-auto inline-flex h-8 w-8 rounded-lg p-1.5 focus:ring-2 {closeBtnClass}"
    >
      <span class="sr-only">Close</span>
      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
{/if}
