<div class="rounded border border-gray-200 bg-white">
  {#if $$slots.head}
    <div class="border-b border-gray-200 bg-gray-100 py-2.5 px-4">
      <slot name="head" />
    </div>
  {/if}
  {#if $$slots.body}
    <slot name="body" />
  {/if}
</div>
