<script lang="ts">
  export let href: string = '/users';
</script>

<a {href} class="btn btn-primary w-32">
  <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="m7 16-4-4m0 0 4-4m-4 4h18" />
  </svg>
  <span>Go Back</span>
</a>
