<script lang="ts">
  import { onMount, onDestroy, tick } from 'svelte';
  import IMaskAction from '$lib/actions/imask';
  import IMask, { type AnyMaskedOptions } from 'imask';
  const action = IMaskAction;

  let input: HTMLInputElement;
  export let value: any;
  export let imask: AnyMaskedOptions;
  export let unmask: boolean | 'typed' = false;
  export let showInvalidBorder = false;

  let maskRef: IMask.InputMask<IMask.AnyMaskedOptions>;

  $: {
    if (maskRef) {
      writeValue(value);
      tick().then(() => (value = getValue()));
    }
  }

  function getValue() {
    if (unmask === 'typed') return maskRef.typedValue;
    if (unmask) return maskRef.unmaskedValue;
    return maskRef.value;
  }

  function setValue(v: any) {
    v = v == null ? '' : v;
    if (unmask === 'typed') maskRef.typedValue = v;
    else if (unmask) maskRef.unmaskedValue = v;
    else maskRef.value = v;
  }

  function writeValue(v: any) {
    if (getValue() !== v || (typeof v !== 'string' && value === '' && !maskRef.el.isActive)) {
      setValue(v);
    }
  }

  onMount(() => {
    maskRef = IMask(input, imask);
    setValue(value);
  });

  onDestroy(() => {
    if (maskRef) maskRef.destroy();
  });

  function accept({ detail: _mask }: { detail: any }) {
    value = getValue();
  }
</script>

<input
  type="text"
  class:border-red-500={showInvalidBorder}
  bind:this={input}
  use:action={maskRef}
  {...$$restProps}
  on:accept={accept}
  on:accept
  on:complete
/>
