<script lang="ts">
  import { onMount } from 'svelte';
  import Chart from 'chart.js/auto';

  export let data: [number[], number[]];

  let ctx: HTMLCanvasElement;
  let chart: Chart;

  $: {
    if (chart) {
      chart.data.datasets[0].data = data[0];
      chart.data.datasets[1].data = data[1];
      chart.update();
    }
  }

  onMount(() => {
    chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          '00:00',
          '01:00',
          '02:00',
          '03:00',
          '04:00',
          '05:00',
          '06:00',
          '07:00',
          '08:00',
          '09:00',
          '10:00',
          '11:00',
          '12:00',
          '13:00',
          '14:00',
          '15:00',
          '16:00',
          '17:00',
          '18:00',
          '19:00',
          '20:00',
          '21:00',
          '22:00',
          '23:00'
        ],
        datasets: [
          {
            label: 'Access-Accept',
            data: data[0],
            borderColor: '#5cb85c',
            backgroundColor: '#def1de',
            pointBackgroundColor: '#5cb85c',
            pointHoverBackgroundColor: '#5cb85c'
          },
          {
            label: 'Access-Reject',
            data: data[1],
            borderColor: '#d9534f',
            backgroundColor: '#f7dddc',
            pointBackgroundColor: '#d9534f',
            pointHoverBackgroundColor: '#d9534f'
          }
        ]
      },
      options: {
        elements: {
          line: {
            tension: 0.4,
            borderWidth: 2,
            fill: true
          },
          point: {
            radius: 2
          }
        },
        plugins: {
          legend: {
            display: false
          },
          filler: {
            // @ts-ignore
            drawTime: 'beforeDraw' // this works but for some reason this option is not available in interface
          }
        },
        interaction: {
          mode: 'x'
        }
      }
    });
  });
</script>

<canvas bind:this={ctx} />
