<script lang="ts">
  import { createEventDispatcher, setContext } from 'svelte';
  const dispatch = createEventDispatcher();

  export let modalKey = 'modal';
  export let isOpen: boolean = false;
  export let title: string = '';
  export let cancelText: string = 'Close';
  export let okText: string = '';

  let modalInstance: HTMLDivElement;

  setContext(modalKey, {
    getModalInstance: () => modalInstance
  });

  const closeModal = () => {
    dispatch('close');
  };

  const handleOkClick = () => {
    dispatch('ok');
  };

  const handleKeydown = (event: KeyboardEvent) => {
    if (event.key === 'Escape') {
      closeModal();
    }
  };
</script>

<svelte:window on:keydown={handleKeydown} />
<svelte:head>
  {#if isOpen}
    <style>
      body {
        overflow: hidden;
      }
    </style>
  {/if}
</svelte:head>

{#if isOpen}
  <div
    bind:this={modalInstance}
    class="fixed top-0 left-0 z-40 flex h-screen w-full items-start justify-center overflow-y-auto bg-black bg-opacity-40"
    on:click|self={closeModal}
  >
    <div class="relative flex items-center justify-center">
      <div class="mx-3 my-8 max-w-xl md:w-[600px]">
        <div
          class="rounded-md border border-black border-opacity-20 bg-gray-50 shadow-md outline-none"
        >
          {#if title}
            <div class="border-b border-gray-200 p-4">
              <h4 class="text-lg font-bold text-gray-800">{title}</h4>
            </div>
          {/if}
          <div class="p-4">
            <slot />
          </div>
          <div class="flex items-center justify-end gap-1.5 border-t border-gray-200 p-4">
            <button class="px-3 py-1.5 text-sm text-primary text-opacity-80" on:click={closeModal}>
              {cancelText}
            </button>
            {#if okText}
              <button
                class="btn btn-primary w-auto border-none px-3 py-1.5"
                on:click={handleOkClick}
              >
                {okText}
              </button>
            {/if}
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}
