<script lang="ts">
  import { userSession } from '$lib/stores/auth';
  import { logout } from '$lib/utils/auth';

  let isMobileMenuOpen = false;

  function toggleMobileMenuOpen() {
    isMobileMenuOpen = !isMobileMenuOpen;
  }
</script>

<div class="w-full bg-primary text-gray-50">
  <div
    class="mx-auto flex max-w-screen-xl flex-col md:flex-row md:items-center md:justify-between md:px-6 lg:px-8"
  >
    <div class="flex flex-row items-center justify-between px-4 py-4 md:px-0">
      <div class="flex rounded-lg font-semibold">
        <svg
          class="mr-3 h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.111 16.404a5.5 5.5 0 0 1 7.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0"
          />
        </svg>
        <span>Enterprise Device Manager</span>
      </div>

      {#if $userSession}
        <button on:click={toggleMobileMenuOpen} class="rounded-lg focus:outline-none md:hidden">
          <svg fill="currentColor" viewBox="0 0 20 20" class="h-6 w-6">
            {#if isMobileMenuOpen}
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            {:else}
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                clip-rule="evenodd"
              />
            {/if}
          </svg>
        </button>
      {/if}
    </div>

    {#if $userSession}
      <nav
        class:flex={isMobileMenuOpen}
        class:hidden={!isMobileMenuOpen}
        class="flex-grow flex-col pb-4 md:flex md:flex-row md:justify-end md:pb-0"
      >
        {#if $userSession.AccountOwner === 1}
          <a on:click={toggleMobileMenuOpen} class="nav-link" href="/admin">Admin</a>
        {/if}
        <a
          on:click={toggleMobileMenuOpen}
          class="nav-link"
          href="http://help.enterpriseauth.com/"
          target="_blank"
          rel="external">Help</a
        >
        <button on:click={logout} class="nav-link">Log Out</button>
      </nav>
    {/if}
  </div>
</div>

<style lang="postcss">
  .nav-link {
    @apply mt-2 rounded-lg bg-transparent px-4 py-2 text-left text-sm font-semibold hover:bg-gray-200 hover:text-gray-900 focus:outline-none md:mt-0 md:ml-4;
  }
</style>
