<script lang="ts">
  import Card from './Card.svelte';
  import Modal from './Modal.svelte';
  import AddSite from './group/AddSite.svelte';
  import EditSite from './group/EditSite.svelte';
  import { onMount } from 'svelte';
  import { selectedGroup } from '$lib/stores/groups';
  import { fetchSelectedGroup } from '$lib/services/groups';
  import { userSession } from '$lib/stores/auth';

  onMount(async () => {
    if (!$selectedGroup.ID && $userSession) {
      await fetchSelectedGroup($userSession.ID, 'Global');
    }
  });

  $: uniqueDevicesCount =
    $selectedGroup.UniqueDevices || $selectedGroup.UniqueDevices === 0
      ? $selectedGroup.UniqueDevices
      : 'loading...';

  let showAddSiteModal = false;
  let submitAddSite: () => Promise<void>;

  let showEditSiteModal = false;
  let submitEditSite: () => Promise<void>;
</script>

<div>
  <Card>
    <div slot="head" class="flex flex-col items-center justify-between gap-y-2 md:flex-row">
      <div class="leading-9 text-gray-700">
        <span class="font-bold">{$selectedGroup.Name || 'No Name'}</span>
        <span class="text-sm font-normal text-gray-500">{$selectedGroup.ID || 'No ID'}</span>
        <span
          on:click={() => (showEditSiteModal = true)}
          class="mx-1 cursor-pointer text-sm font-normal underline md:mx-2.5"
        >
          Edit Config
        </span>
        <span class="whitespace-nowrap text-sm font-normal">
          Unique devices: {uniqueDevicesCount}
        </span>
      </div>
      <div class="flex w-full flex-col items-center gap-y-2 md:w-auto md:flex-row md:gap-x-8">
        {#if $selectedGroup.highCapacityProvisioned}
          <div class="order-3 font-bold text-gray-700 md:order-1">High Capacity</div>
        {/if}
        {#if $userSession?.AccountOwner === 1}
          <button
            on:click={() => (showAddSiteModal = true)}
            class="btn btn-primary order-2 md:order-2 md:w-32"
          >
            <svg
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <span>Add Site</span>
          </button>
        {/if}
        <a href="/groups" class="btn btn-primary order-1 md:order-3 md:w-32">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
              d="M13.586 3.586a2 2 0 1 1 2.828 2.828l-.793.793-2.828-2.828.793-.793zm-2.207 2.207L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
            />
          </svg>
          <span>Change Site</span>
        </a>
      </div>
    </div>
  </Card>
  {#if !$selectedGroup.highCapacityProvisioned}
    <div class="-mt-2 flex items-center gap-x-2 rounded-b bg-red-600 p-2.5 text-xs text-gray-50">
      <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 9a1 1 0 0 0 0 2v3a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2v-3a1 1 0 0 0-1-1H9z"
          clip-rule="evenodd"
        />
      </svg>
      <span>
        Warning! This site has not been configured for High Capacity service. Only 20 concurrent
        devices are supported with the standard service.
      </span>
      <a
        class="font-bold underline"
        href="https://eleven.zendesk.com/hc/en-us/articles/360039300571"
        target="_blank"
      >
        Click here to Upgrade
      </a>
    </div>
  {/if}
</div>

<Modal
  modalKey="add-new-site"
  title="Add New Site"
  okText="Add"
  isOpen={showAddSiteModal}
  on:close={() => (showAddSiteModal = false)}
  on:ok={submitAddSite}
>
  <AddSite bind:submitAddSite on:done={() => (showAddSiteModal = false)} />
</Modal>

<Modal
  modalKey="edit-site"
  title="Edit Site Configuration"
  okText="Update"
  isOpen={showEditSiteModal}
  on:close={() => (showEditSiteModal = false)}
  on:ok={submitEditSite}
>
  <EditSite bind:submitEditSite on:done={() => (showEditSiteModal = false)} />
</Modal>
