<script lang="ts">
  import { showSpinner } from '$lib/stores/spinner';
</script>

<svelte:head>
  {#if $showSpinner}
    <style>
      body {
        overflow: hidden;
      }
    </style>
  {/if}
</svelte:head>

{#if $showSpinner}
  <div class="absolute inset-0 z-50 flex items-center justify-center bg-black bg-opacity-30">
    <svg
      class="-ml-1 mr-3 h-12 w-12 animate-spin text-white md:h-16 md:w-16"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 0 1 8-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 0 1 4 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      />
    </svg>
  </div>
{/if}
