<script lang="ts">
  import type { TimeZone, Zone } from '$lib/types/timezone';
  import { timezones } from '$lib/utils/timezones';

  export let value = '';
  export let showInvalidBorder = false;
  export let disabled = false;

  let ref: HTMLInputElement;
  let isOpen = false;
  let search = '';

  $: {
    search = value;
  }

  let filteredTimezones: TimeZone[];

  $: filteredTimezones = timezones
    .map((timezone) => {
      let zones = timezone.children.filter((zone) =>
        zone.name.toLowerCase().includes(search.toLowerCase())
      );

      if (timezone.country.toLowerCase().includes(search.toLowerCase())) {
        return timezone;
      }

      if (zones.length) {
        return { ...timezone, children: zones };
      }

      return null;
    })
    .filter((timezone): timezone is TimeZone => Boolean(timezone));

  function selectTimezone(zone: Zone) {
    value = zone.id;
    search = zone.id;
    isOpen = false;
  }

  function handleFocus() {
    isOpen = true;
  }

  function handleBlur(target: EventTarget | null) {
    if (isOpen && ref && !ref.contains(target as HTMLElement)) {
      search = value;
      isOpen = false;
    }
  }

  function handleKeyDown(key: string) {
    if (!isOpen) return;

    if (key === 'Tab') {
      handleBlur(null);
    }
  }
</script>

<svelte:window
  on:click={({ target }) => handleBlur(target)}
  on:keydown={({ key }) => handleKeyDown(key)}
/>

<div class="relative w-full">
  <div role="button" class="relative inline-flex w-full items-center">
    <input
      bind:this={ref}
      class="!pr-8"
      class:!rounded-bl-none={isOpen}
      class:!rounded-br-none={isOpen}
      class:border-red-500={showInvalidBorder}
      type="text"
      placeholder="Choose a timezone"
      bind:value={search}
      on:focus={handleFocus}
      {disabled}
    />
    <svg
      class="pointer-events-none absolute right-2 h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" />
    </svg>
  </div>
  {#if isOpen}
    <div
      class="absolute z-10 mt-px max-h-40 w-full overflow-y-auto rounded-b bg-white pl-1 shadow-md"
    >
      {#each filteredTimezones as timezone (timezone.country)}
        <div class="pt-1">
          <div class="px-1.5 font-bold text-gray-400">{timezone.country}</div>
          <ul class="text-gray-500">
            {#each timezone.children as zone (zone.id)}
              <li
                on:click={() => selectTimezone(zone)}
                class="cursor-pointer py-1 pl-3.5 hover:bg-primary hover:bg-opacity-80 hover:text-gray-50"
              >
                {zone.name}
              </li>
            {/each}
          </ul>
        </div>
      {/each}
    </div>
  {/if}
</div>
