#ticker {
	height: 200px;
    list-style : none;
    padding-left : 0;
    padding: 15px;
    margin-left: 1.1rem;
}
#ticker li {
	font-size: 16px;
	list-style-type: none;
	white-space: nowrap;
}

.success-indicator-icon {
    margin-right: 4px;
}

.success-indicator-icon i.fa-times {
    color: red;
}

.success-indicator-icon i.fa-check {
    color: green;
}

.fa.fa-wifi.active {
    color: green;
}

.fa.fa-wifi.inactive {
    color: #eee;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	color: #333;
}
