<!DOCTYPE html>
<html lang="en" ng-app="eradClusterTool">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Erad Cluster Manager</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Angularjs -->
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- AWS SDK -->
    <script src="js/aws-sdk.min.js"></script>
    <!-- Angular Controller -->
    <script src="js/controller.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="baseCtrl">
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Cluster Manager</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li>
                            <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div style="min-height: 385px;" id="page-wrapper">
          <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
          </div>
          <!-- Content -->
          <div class="row">
                <div class="col-lg-12">
                    <!-- <button class="btn btn-default" ng-click="loadData()">
                        <i class="fa fa-refresh"></i> Load Clusters
                    </button> -->
                    <button class="btn btn-primary" ng-click="addCluster()">
                        <i class="fa fa-plus-circle"></i> Add Cluster
                    </button>
                </div>
          </div>
          <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">#</th>
                                <th class="col-sm-2">Cluster ID</th>
                                <th class="col-sm-1">AcctNum</th>
                                <th class="col-sm-1">AuthNum</th>
                                <th class="col-sm-7">Instances</th>
                                <th class="col-sm-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cluster in clusters | orderBy: 'ClusterId.S'">
                                <td>{{$index + 1}}</td>
                                <td>{{cluster.ClusterId.S}}</td>
                                <td>{{cluster.AcctNum.N}}</td>
                                <td>{{cluster.AuthNum.N}}</td>
                                <td><code>{{cluster.Instances.S}}</code></td>
                                <td>
                                    <button class="btn btn-warning btn-xs" ng-click="editCluster(cluster)">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>

                                    <button class="btn btn-warning btn-xs" ng-click="viewCluster(cluster)">
                                        <i class="fa fa-list-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col-lg-12 -->
          </div>
        </div>
    </div>

    <!-- View Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalViewCluster">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Cluster - {{selectedCluster.ClusterId.S}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12"><strong>Cluster ID -</strong> {{ selectedCluster.ClusterId.S }}</div>
              <div class="col-md-12"><strong>AcctNum -</strong> {{ selectedCluster.AcctNum.N }}</div>
              <div class="col-md-12"><strong>AuthNum -</strong> {{ selectedCluster.AuthNum.N }}</div>
              <div class="col-md-12"><strong>Instances -</strong> <code>{{selectedCluster.Instances.S}}</code></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12"><h4>Endpoints</h4></div>
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-9">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-1">#</th>
                            <th class="col-sm-2">Cluster ID</th>
                            <th class="col-sm-2">IpAddress</th>
                            <th class="col-sm-2">Secret</th>
                            <th class="col-sm-1">Port</th>
                            <th class="col-sm-2">Region</th>
                            <th class="col-sm-2">Group ID</th>
                            <!-- <th class="col-sm-1">Actions</th>  -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="endpoint in endpoints | orderBy: 'Port.S' |  filter:searchText">
                            <td>{{$index + 1}}</td>
                            <td>{{endpoint.ClusterId.S}}</td>
                            <td>{{endpoint.IpAddress.S}}</td>
                            <td>{{endpoint.Secret.S}}</td>
                            <td>{{endpoint.Port.S}}</td>
                            <td>{{endpoint.Region.S}}</td>
                            <td>{{endpoint.Group_ID.S}}</td>
                            <!-- <td>
                                <button class="btn btn-warning btn-xs" ng-click="editCluster()">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>

                                <button class="btn btn-warning btn-xs" ng-click="viewCluster(cluster)">
                                    <i class="fa fa-list-alt"></i>
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Add Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalAddCluster">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Add Cluster</h4>
          </div>
          <div class="modal-body">
            <!-- Success -->
            <div class="row" ng-show="success">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert"><strong>Success!</strong> Endpoints added successfully.</div>
                </div>
            </div>
            <!-- Step 1 -->
            <div class="row" ng-show="step == 1">
              <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal" id="stepForm1" name="stepForm1" novalidate>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Cluster Id</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="txtClusterId" name="txtClusterId" placeholder="Cluster Id" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">AcctNum</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" ng-model="txtAcctNum" name="txtAcctNum" placeholder="AcctNum" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">AuthNum</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" ng-model="txtAuthNum" name="txtAuthNum" placeholder="AuthNum" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">IpAddress</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="selectIpAddress" ng-model="selectedIpAddress">
                              <option ng-repeat="x in ipsandregions" value="{{x.ipaddress}}">{{x.ipaddress}}</option>
                            </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Region</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="txtRegion" value="{{selectedRegion}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Instances</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="txtInstances" placeholder="Instances" value="{'acct': {'instance-id-acct': '5.6.7.8'}, 'auth': {'instance-id': '1.2.3.4'}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Cluster Type</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <div class="col-sm-3">
                              <input type="radio" id="special" name="clusterType" value="special">
                              <label for="special" class="control-label">Special</label>
                            </div>

                            <div class="col-sm-9">
                              <input type="radio" id="normal" name="clusterType" value="normal" checked>
                              <label for="normal" class="control-label">Normal</label>
                            </div>

                          </div>
                        </div>
                      </div>
                    </form>
              </div>
            </div>

            <!-- Step 2 -->
            <div class="row" ng-show="step == 2">
              <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal" id="stepForm2" novalidate>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Cluster Id</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="txtClusterId" placeholder="Cluster Id" value="{{cluster_id}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">IpAddress</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="selectedIpAddress" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Port</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="txtInstances" placeholder="Port" value="{{maxPort}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Region</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="selectedRegion" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Group_ID</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="txtInstances" placeholder="Group_ID" value="::dirty" readonly>
                        </div>
                      </div>
                    </form>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="pull-left">
              <div class="checkbox" ng-if="step == 2" ng-hide="success">
                <label>
                  <input type="checkbox" ng-model="checked" ng-click="selected(toggle)"> I confirm that this looks good
                </label>
              </div>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-if="step == 1" ng-disabled="!txtClusterId || !txtAcctNum || !txtAuthNum" ng-click="nextAddStep()">Next</button>
              <button type="button" class="btn btn-primary" ng-if="step == 2" ng-disabled="!toggle || success" ng-click="nextAddStep()">Save</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Edit Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalEditCluster">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Edit Cluster - {{selectedCluster.ClusterId.S}}</h4>
          </div>
          <div class="modal-body">
            <!-- Success Message -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" ng-if="success_message">
                      <strong>Success!</strong> {{success_message}}
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Instances</label>
                    <code>{{selectedCluster.Instances.S}}</code>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
               <form class="form-inline" id="myForm.$valid" novalidate>
                    <div class="form-group">
                        <label for="inputPassword3" class="control-label">AcctNum</label>
                        <input type="number" class="form-control" ng-model="selectedClusterAcctNum" placeholder="AcctNum" value="{{ selectedCluster.AcctNum.N }}">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="control-label">AuthNum</label>
                        <input type="number" class="form-control" ng-model="selectedClusterAuthNum" placeholder="AuthNum" value="{{ selectedCluster.AuthNum.N }}">
                    </div>
                    <button type="button" class="btn btn-success" ng-click='updateCluster()'>Update</button>
                </form>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12"><h4>Endpoints - {{selectedCluster.ClusterId.S}}</h4></div>
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-9">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="col-sm-2">IpAddress</th>
                            <th class="col-sm-3">Secret</th>
                            <th class="col-sm-1">Port</th>
                            <th class="col-sm-1">Region</th>
                            <th class="col-sm-4">Group ID</th>
                            <th class="col-sm-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="endpoint in endpoints | orderBy: 'Port.S' | filter:searchText">
                            <td>{{$index + 1}}</td>
                            <td>{{endpoint.IpAddress.S}}</td>
                            <td>
                              <span ng-if="!endpoint.edit">{{endpoint.Secret.S}}</span>
                              <span ng-if="endpoint.edit">
                                <div class="input-group">
                                  <input type="text" class="form-control" ng-model="selectedEndpoint.Secret.S" placeholder="Secret" value="{{ selectedEndpoint.Secret.S }}">
                                  <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button" ng-click="selectedEndpoint.Secret.S =randomPassword()" data-toggle="tooltip" data-placement="bottom" title="Random Secret"><i class="fa fa-refresh"></i></button>
                                  </span>
                                </div>
                              </span>
                            </td>
                            <td>{{endpoint.Port.S}}</td>
                            <td>{{endpoint.Region.S}}</td>
                            <td>
                              <span ng-if="!endpoint.edit">{{endpoint.Group_ID.S}}</span>
                              <span ng-if="endpoint.edit">
                                <div class="input-group">
                                  <input type="text" class="form-control" ng-model="selectedEndpoint.Group_ID.S" placeholder="Group ID" value="{{ selectedEndpoint.Group_ID.S }}">
                                  <div class="input-group-btn">
                                    <button type="button" class="btn btn-success"  ng-click='editGroup("::free")'>::free</button>
                                    <button type="button" class="btn btn-danger" ng-click='editGroup("::dirty")'>::dirty</button>
                                  </div>
                                </div>
                              </span>
                            </td>
                            <td>
                                <button ng-if="!endpoint.edit" class="btn btn-warning btn-xs" ng-click="editEndpoint(endpoint)" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button ng-if="endpoint.edit" class="btn btn-success btn-xs" ng-click="updateEndpoint()" data-toggle="tooltip" data-placement="bottom" title="Save">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button ng-if="endpoint.edit" class="btn btn-default btn-xs" ng-click="cancelEditEndpoint(endpoint)" data-toggle="tooltip" data-placement="bottom" title="Cancel">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
