
#statusCode {
	color: white;
}

#txtSessionId {
	margin-bottom: 5px;
}

#group_main {
	padding:0;
}

#group_mac {
	float: left;
	padding: 0;
}

#sectionA {
	margin-top: 20px;
}

#sectionB {
	margin-top: 20px;
}

input {
	margin-bottom: 5px;
}

.tabs {
	margin-top: 15px;
}

.serverSelection {
	width: 60%;
}

.testWindow {
	display: none;
	position: fixed;
	width: 70%;	
	height: 80%;
	margin-left: 10%;
	margin-top: 5%;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 99;
	padding-right: 10px;
	padding-top: 5px;
}

.testWindowClose {
	position: relative;
	float: right;
	font-size: 20px;	
	cursor: pointer;
}

.testWindowTable {
	width: 80%;
	position: relative;
	margin-left: 10%;
	margin-top: 5%;
}

.margin10px {
	margin-top: 10px;
}

.tooltip-inner {
    max-width: 300px;
    text-align:left; 
    width: 300px; 
}
