<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enterprise Admin</title>
    <meta name="description" content="Enterprise Admin Device Management">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- build:js scripts/wua.js -->
    <script src="scripts/wua.js"></script>
    <!-- endbuild -->
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css" />
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/dropdown.css">
    <link rel="stylesheet" href="styles/timezone-selector.css" />
    <!-- endbuild -->


  </head>
  <body ng-app="eradApp">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="loading">
       <div class="loading-backdrop"></div>
       <div class="loader">
          <div spinner></div>
       </div>
    </div>

    <nav id="myNavbar" class="navbar navbar-default navbar-static-top navbar-inverse bluebar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container" ng-controller="HeaderCtrl as vm">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" href="#">
                <em class="fa fa-wifi wifi-icon"></em>Enterprise Device Manager
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="admin-link" ng-if="vm.AppModel.isAccountOwner && vm.AppModel.isLoggedIn" ui-sref="admin" ng-bind="'Admin'"></a></li>
                <li><a id="login" ng-if="vm.loginPage" ui-sref="login" ng-bind="'Login'"></a></li>
                <li><a id="launch-help" ng-if="vm.AppModel.isLoggedIn" ng-click="vm.launchHelp()">Help</a></li>
                <li><a id="logout" ng-if="vm.AppModel.isLoggedIn" ng-click="vm.logout()" ng-bind="'Log Out'"></a></li>
            </ul>
        </div>
    </div>
  </nav>

    <div class="content">
        <div ui-view autoscroll="false"></div>
     </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="bower_components/Chart.js/dist/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-97628195-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/filters.js"></script>

    <script src="scripts/controllers/aaa_log.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/panelHeader.js"></script>
    <script src="scripts/controllers/groups.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/changeHistory.js"></script>

    <script src="scripts/controllers/modalErrors.js"></script>

    <script src="scripts/controllers/groupModals/edit.js"></script>
    <script src="scripts/controllers/groupModals/add.js"></script>
    <script src="scripts/controllers/groupModals/delete.js"></script>
    <script src="scripts/controllers/groupModals/confirmDeleteEndpointModal.js"></script>

    <script src="scripts/controllers/userModals/addEditWizard.js"></script>
    <script src="scripts/controllers/userModals/delete.js"></script>
    <script src="scripts/controllers/userModals/import.js"></script>

    <script src="scripts/controllers/admin/admin.js"></script>

    <script src="scripts/controllers/admin/editModal.js"></script>
    <script src="scripts/controllers/admin/addModal.js"></script>
    <script src="scripts/controllers/admin/deleteModal.js"></script>

    <!-- endbuild -->

</body>
</html>
