<div class="modal-popup" >
   <div class="modal-header" >
      <h4 class="modal-title" ng-bind="view.title"></h4>
   </div>

   <div class="modal-body">

      <!-- edit Accounts form -->
      <div class="modal-container" ng-show="view.type === 'account'">
         <form class="form-horizontal" name="accountEditForm" id="account-form">
            <div class="form-group" id="account-form-email">
               <div class="col-sm-5 col-xs-12">
                  <label for="editAccountEmail" class="control-label">Email</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                  <input type="email"
                        class="form-control"
                        id="editAccountEmail"
                        name="accountEmail"
                        ng-model="view.form.Email"
                        ng-readonly="true"
                        >
               </div>
            </div>
            <div class="form-group" id="account-form-password">
               <div class="col-sm-5 col-xs-12">
                  <label for="editAccountPassword" class="control-label">Password</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                  <input type="password"
                        class="form-control"
                        id="editAccountPassword"
                        name="accountPassword"
                        ng-model="view.form.Password"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                        no-weak-passwords
                        >
                  <div class="error-container" ng-show="submitted && accountEditForm.accountPassword.$invalid">
                     <span class="help-inline" ng-if="accountEditForm.accountPassword.$error.required">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;Password is required
                     </span>
                  </div>
                  <div class="error-container" ng-if="accountEditForm.accountPassword.$error.passwordCheck">
                     <span class="help-inline" ng-if="accountEditForm.accountPassword.$error">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;{{ view.passwordError }}
                     </span>
                  </div>
               </div>
            </div>
         </form>
      </div>

      <!-- edit API keys form -->
      <div class="modal-container" ng-show="view.type === 'keys'">
         <form class="form-horizontal" name="apiKeysEditForm" id="api-keys-form">
            <div class="form-group" id="api-keys-form-name">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyName" class="control-label">API Key Name</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKeyName"
                        name="apiKeyName"
                        ng-model="view.data.DisplayName">
               </div>
            </div>
            <div class="form-group" id="api-keys-form-apikey">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKey" class="control-label">API Key ID</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKey"
                        name="apiKey"
                        ng-model="view.data.ApiKeyName"
                        ng-readonly="true">
               </div>
            </div>
            <div class="form-group" id="api-keys-form-id">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyID" class="control-label">API Key Secret</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        ng-if="view.showApiKey"
                        ng-click="toggleAPIKey()"
                        class="form-control"
                        id="showAPIKeyID"
                        name="apiKeyID"
                        ng-model="view.data.ApiKey_ID"
                        ng-readonly="true">

                  <input type="button"
                        ng-if="!view.showApiKey"
                        ng-click="toggleAPIKey()"
                        class="form-control clickable"
                        id="toggleAPIKeyID"
                        value="Click to show API Key Secret">
               </div>
            </div>
            <div class="form-group" id="api-keys-form-active">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyActive" class="control-label">Active</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="checkbox"
                        name="apiKeyActive"
                        ng-true-value="1"
                        ng-false-value="0"
                        ng-model="view.data.Active">
               </div>
            </div>
         </form>

      </div>
   </div>

   <div class="modal-footer">
      <a id="closeModal" class="btn" ng-click="close()">Cancel</a>
      <a id="btnEditAccount" class="btn btn-primary" ng-click="submitForm(accountEditForm)" ng-show="view.type === 'account'" ng-disabled="accountEditForm.$invalid">Save</a>
      <a id="btnEditKeys" class="btn btn-primary" ng-click="submitForm(apiKeysEditForm)" ng-show="view.type === 'keys'">Save</a>
   </div>

</div>

