<div class="modal-popup" >
   <div class="modal-header" >
      <h4 class="modal-title" ng-bind="view.title"></h4>
   </div>

   <div class="modal-body">
      <div class="modal-container" ng-if="view.type === 'account'">
         <div class="alert alert-danger" role="alert" ng-bind="view.message"></div>
         <p>Are you sure you want to remove the account associated with the email address "{{view.data.Email}}"?</p>
      </div>

      <div class="modal-container" ng-if="view.type === 'keys'">
         <div class="alert alert-danger" role="alert" ng-bind="view.message"></div>

         <form class="form-horizontal" name="accountEditForm">
            <div class="form-group">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyName" class="control-label">Api Key Name</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKeyName"
                        name="apiKeyName"
                        ng-model="view.data.DisplayName"
                        ng-disabled="true">
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKey" class="control-label">Api Key</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKey"
                        name="apiKey"
                        ng-model="view.data.ApiKeyName"
                        ng-disabled="true">
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyID" class="control-label">Api Key ID</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKeyID"
                        name="apiKeyID"
                        ng-model="view.data.ApiKey_ID"
                        ng-disabled="true">
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-3 col-xs-12">
                  <label for="removeAPIKeyActive" class="control-label">Active</label>
               </div>
               <div class="col-sm-9 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="removeAPIKeyActive"
                        name="apiKeyActive"
                        ng-model="view.data.isActive"
                        ng-disabled="true">
               </div>
            </div>
         </form>
      </div>
   </div>

   <div class="modal-footer">
      <a id="closeModal" class="btn" ng-click="cancel()">Cancel</a>
      <a id="btnDelete" class="btn btn-primary" ng-click="remove(view.type, view.data)">Delete</a>
   </div>

</div>

