<div class="modal-popup" >
   <div class="modal-header" >
      <h4 class="modal-title" ng-bind="view.title"></h4>
   </div>

   <div class="modal-body">
      <div class="modal-container">

         <form class="form-horizontal" name="addKeysForm" ng-show="view.type === 'keys'">
            <div class="form-group">
               <div class="col-sm-5 col-xs-12">
                  <label for="newAPIKeyName" class="control-label">Key Name</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                  <input type="text"
                        class="form-control"
                        id="newAPIKeyName"
                        name="newAPIKeyName"
                        ng-model="view.form.Name"
                        placeholder="Please enter a name for this key"
                        required>
                  <div class="error-container" ng-show="submitted">
                     <span class="help-inline" ng-if="addKeysForm.newAPIKeyName.$error.required">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;Name is required
                     </span>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-5 col-xs-12">
                  <label for="newAPIKeyStatus" class="control-label">Active</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                   <input type="checkbox"
                        id="newAPIKeyStatus"
                        ng-true-value="1"
                        ng-false-value="0"
                        name="newAPIKeyStatus"
                        ng-model="view.active">
                </div>
            </div>
         </form>

         <form class="form-horizontal" name="accountAddForm" ng-show="view.type === 'account'">
            <div class="form-group">
               <div class="col-sm-5 col-xs-12">
                  <label for="inputNewAccountEmail" class="control-label">Email</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                  <input type="email"
                        class="form-control"
                        id="inputNewAccountEmail"
                        name="newAccountEmail"
                        ng-model="view.form.Email"
                        placeholder="Please enter an email address"
                        required>
                  <div class="error-container" ng-show="submitted">
                     <span class="help-inline" ng-if="accountAddForm.newAccountEmail.$error.email">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;A valid email address is required
                     </span>
                     <span class="help-inline" ng-if="accountAddForm.newAccountEmail.$error.required">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;Email address is required
                     </span>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-5 col-xs-12">
                  <label for="inputNewAccountPassword" class="control-label">Password</label>
               </div>
               <div class="col-sm-7 col-xs-12">
                  <input type="password"
                        class="form-control"
                        id="inputNewAccountPassword"
                        name="newAccountPassword"
                        ng-model="view.form.Password"
                        placeholder="Please enter a password"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                        required
                        no-weak-passwords>

                  <div class="error-container" ng-if="submitted && accountAddForm.newAccountPassword.$invalid">
                     <span class="help-inline" ng-if="accountAddForm.newAccountPassword.$error.required">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;Password is required
                     </span>
                  </div>
                  <div class="error-container" ng-if="accountAddForm.newAccountPassword.$error">
                     <span class="help-inline" ng-if="accountAddForm.newAccountPassword.$error.passwordCheck">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;{{ view.passwordError }}
                     </span>
                  </div>

               </div>
            </div>
        </form>

      </div>
   </div>

   <div class="modal-footer">
      <a id="closeModal" class="btn" ng-click="cancelAdd()">Cancel</a>

      <button id="btnAddAccount" class="btn btn-primary" ng-click="submitForm(accountAddForm)" ng-show="view.type === 'account'" ng-disabled="accountAddForm.$invalid">Add</button>
      <button id="btnAddApiKeys" class="btn btn-primary" ng-click="submitForm(addKeysForm)" ng-show="view.type === 'keys'">Add</button>
   </div>

</div>

