<script lang="ts">
  import type { SortDirection } from '$lib/types/table';

  export let sortable = false;
  export let sortDirection: SortDirection = 'none';
  export let active = false;
</script>

{#if sortable}
  <th class="group relative cursor-pointer" class:bg-gray-100={active} on:click>
    <button class="appearance-none px-3 py-3">
      <div>
        <slot />
      </div>
    </button>
    <div class="absolute right-1.5 top-0 flex h-full items-center">
      <svg
        class="h-4 w-4 transition-transform"
        class:hidden={!active}
        class:block={active}
        class:rotate-180={active && sortDirection === 'descending'}
        viewBox="0 0 32 32"
        fill="currentColor"
      >
        <path d="M16 4 6 14l1.41 1.41L15 7.83V28h2V7.83l7.59 7.58L26 14 16 4z" />
      </svg>
      <svg
        class="h-4 w-4 opacity-0 group-hover:opacity-100 group-focus:opacity-100"
        class:hidden={active}
        viewBox="0 0 32 32"
        fill="currentColor"
      >
        <path
          d="M27.6 20.6 24 24.2V4h-2v20.2l-3.6-3.6L17 22l6 6 6-6zM9 4l-6 6 1.4 1.4L8 7.8V28h2V7.8l3.6 3.6L15 10z"
        />
      </svg>
    </div>
  </th>
{:else}
  <th class="px-3 py-3" on:click>
    <div>
      <slot />
    </div>
  </th>
{/if}
