<script lang="ts">
  let itemText = (min: number, max: number) => `${min}-${max} items`;
  let itemRangeText = (min: number, max: number, total: number) =>
    `${min}–${max} of ${total} items`;
  let pageText = (page: number) => `page ${page}`;
  let pageRangeText = (total: number) => `of ${total} page${total === 1 ? '' : 's'}`;

  export let page = 1;
  export let pageSize = 10;
  export let pageSizes = [10, 25, 50, 100];
  export let totalItems = 0;
  export let itemsPerPageText = 'Items per page:';

  /** Set to `true` if the number of pages is unknown */
  export let pagesUnknown = false;

  $: totalPages = Math.max(Math.ceil(totalItems / pageSize), 1);
  $: selectItems = Array.from({ length: totalPages }, (_, i) => i);
  $: backButtonDisabled = page === 1;
  $: forwardButtonDisabled = page === totalPages;
</script>

<div
  class="flex w-full flex-col rounded-b bg-gray-50 text-xs md:h-10 md:flex-row md:items-center md:justify-between"
>
  <div class="hidden items-center px-3 md:flex">
    <div>{itemsPerPageText}</div>
    <div class="relative mr-2 flex items-center">
      <select
        class="h-10 w-16 cursor-pointer appearance-none rounded bg-gray-50 pl-4 pr-6 hover:bg-gray-200"
        bind:value={pageSize}
      >
        {#each pageSizes as size (size)}
          <option class="py-4" value={size}>{size}</option>
        {/each}
      </select>
      <svg
        class="pointer-events-none absolute right-2 h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" />
      </svg>
    </div>
    <div>
      {#if pagesUnknown}
        {itemText(pageSize * (page - 1) + 1, page * pageSize)}
      {:else}
        {itemRangeText(
          Math.min(pageSize * (page - 1) + 1, totalItems),
          Math.min(page * pageSize, totalItems),
          totalItems
        )}
      {/if}
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="relative mr-2 flex items-center">
        <select
          class="h-10 w-16 cursor-pointer appearance-none rounded bg-gray-50 pl-4 pr-6 hover:bg-gray-200"
          bind:value={page}
        >
          {#each selectItems as size (size)}
            <option class="py-1" value={size + 1}>{size + 1}</option>
          {/each}
        </select>
        <svg
          class="pointer-events-none absolute right-2 h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" />
        </svg>
      </div>
      <div class="mr-4">
        {#if pagesUnknown}
          {pageText(page)}
        {:else}
          {pageRangeText(totalPages)}
        {/if}
      </div>
    </div>
    <div>
      <button
        class="border-l p-3"
        class:text-gray-400={backButtonDisabled}
        disabled={backButtonDisabled}
        on:click={() => {
          page--;
        }}
      >
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="m15 19-7-7 7-7" />
        </svg>
      </button>
      <button
        class="border-l p-3"
        class:text-gray-400={forwardButtonDisabled}
        disabled={forwardButtonDisabled}
        on:click={() => {
          page++;
        }}
      >
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="m9 5 7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>
</div>
