<script lang="ts">
  import { writable } from 'svelte/store';
  import type {
    SortDirection,
    TableHeader,
    TableKey,
    TableRow,
    TableCell as TableCellType
  } from '$lib/types/table';
  import TableHead from './TableHead.svelte';
  import TableCell from './TableCell.svelte';
  import TablePagination from './TablePagination.svelte';

  let sortKey: TableKey = '';
  let sortDirection: SortDirection = 'none';
  let page = 1;
  let pageSize = 10;
  let pageSizes = [10, 25, 50, 100];

  export let headers: TableHeader[] = [];
  export let rows: TableRow[] = [];
  export let sortable = false;

  const sortDirectionMap = (currentSortDirection: SortDirection): SortDirection => {
    switch (currentSortDirection) {
      case 'none':
        return 'ascending';
      case 'ascending':
        return 'descending';
      default:
        return 'none';
    }
  };

  const tableRows = writable(rows);
  $: thKeys = headers.reduce((a, c) => ({ ...a, [c.key]: c.key }), {} as { [key: string]: string });
  const resolvePath = (object: any, path: string) => {
    if (path in object) return object[path];
    return path
      .split(/[\.\[\]\'\"]/)
      .filter((p) => p)
      .reduce((o, p) => (o && typeof o === 'object' ? o[p] : o), object);
  };

  $: headerKeys = headers.map(({ key }) => key);
  $: tableCellsByRowId = rows.reduce((rows, row) => {
    rows[row.id] = headerKeys.map((key, index) => ({
      key,
      value: resolvePath(row, key),
      display: headers[index].display
    }));
    return rows;
  }, {} as { [key: string]: TableCellType[] });

  $: $tableRows = rows;
  $: sortedRows = [...$tableRows];
  $: ascending = sortDirection === 'ascending';
  $: sorting = sortable && sortKey !== '';
  $: sortingHeader = headers.find((header) => header.key === sortKey);
  $: if (sorting) {
    if (sortDirection === 'none') {
      sortedRows = $tableRows;
    } else {
      sortedRows = [...$tableRows].sort((a, b) => {
        const itemA = ascending ? resolvePath(a, sortKey) : resolvePath(b, sortKey);
        const itemB = ascending ? resolvePath(b, sortKey) : resolvePath(a, sortKey);
        if (sortingHeader?.sort) return sortingHeader.sort(itemA, itemB);
        if (typeof itemA === 'number' && typeof itemB === 'number') return itemA - itemB;
        if ([itemA, itemB].every((item) => !item && item !== 0)) return 0;
        if (!itemA && itemA !== 0) return ascending ? 1 : -1;
        if (!itemB && itemB !== 0) return ascending ? -1 : 1;
        return itemA.toString().localeCompare(itemB.toString(), 'en', { numeric: true });
      });
    }
  }

  const getDisplayedRows = (rows: TableRow[], page: number, pageSize: number) =>
    page && pageSize ? rows.slice((page - 1) * pageSize, page * pageSize) : rows;
  $: displayedRows = getDisplayedRows($tableRows, page, pageSize);
  $: displayedSortedRows = getDisplayedRows(sortedRows, page, pageSize);

  const handleTableHeaderClick = (header: TableHeader) => {
    if (header.sort === false) {
    } else {
      let currentSortDirection = sortKey === header.key ? sortDirection : 'none';
      sortDirection = sortDirectionMap(currentSortDirection);
      sortKey = sortDirection === 'none' ? '' : thKeys[header.key];
    }
  };
</script>

<div class="overflow-x-auto rounded-t">
  <table class="w-full text-left text-xs text-gray-500">
    <thead class="bg-gray-50 text-gray-700">
      <tr>
        {#each headers as header (header.key)}
          <TableHead
            sortable={sortable && header.sort !== false}
            active={sortKey === header.key}
            sortDirection={sortKey === header.key ? sortDirection : 'none'}
            on:click={() => handleTableHeaderClick(header)}
          >
            <slot name="cell-header" {header}>{header.value}</slot>
          </TableHead>
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each sorting ? displayedSortedRows : displayedRows as row, i (row.id)}
        <tr class="border-b [&:last-child]:border-b-0">
          {#each tableCellsByRowId[row.id] as cell, j (cell.key)}
            <TableCell>
              <slot name="cell" {row} {cell} rowIndex={i} cellIndex={j}>
                {cell.display ? cell.display(cell.value) : cell.value}
              </slot>
            </TableCell>
          {/each}
        </tr>
      {/each}
    </tbody>
  </table>
</div>
<TablePagination bind:page bind:pageSize {pageSizes} totalItems={rows.length} />
