.dropdown-subclass {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.open > .dropdown-menu {
    display: block;
    width: 100%;
    margin: 0;
}
.open > .dropdown-menu li {
    padding: 5px 6px
}
.open > .dropdown-menu li.highlight {
    background-color: #337ab7;
    background-image: none;
    color: white;
}

.dropdown-btn {
    padding: 5px 12px;
    margin-right: 5px;
    background-color: #fff;
}

.toggle-button {
    width: 18px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.dropdown-subclass a {
    background-color: #fff;
    background-clip: padding-box;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555555;
    display: block;
    height: 32px;
    overflow: hidden;
    line-height: 32px;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-subclass b {
    background: url("chosen-sprite.png") no-repeat 0 7px;
    display: block;
    height: 100%;
    width: 100%;
}

.dropdown-subclass.open b {
    background-position: -18px 7px;
}

.dropdown-subclass.disabled {
    opacity: 0.5 !important;
}
.dropdown-subclass.disabled a {
    cursor: default;
}