/* ERAD
* main.css Version 1.1
* Copyright 2014, Eleven Wireless
* 5/15/2014
*
*/


/* #Site Styles
================================================== */

* {
    /* Border-box - fix padding overflows */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-transition: all .5s;*/
}
html {
    min-height: 100%;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* Default Font Size */
    color: #777;
    font-weight: 300;
    margin: 0 0 0px 0px;
    background: #F3F3F3;
    min-width: 240px;
    /* Always Visible Scrollbar*/
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    min-height:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 1em auto .5em;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* Default Font Size */
    text-align: left;
}
h3 { font-size: 22px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}
h4 {
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 17px;
}
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 2px;
    border: none;
}
a {
  cursor: pointer;
  text-decoration: underline;
}

a.btn {
     text-decoration: none;
}

/* General Styles
================================================== */


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error-container {
  color: #E06D5E;
  margin-top: 5px;
}

.column {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}
.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.clickable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Overwrite modal defaults*/
.modal-backdrop { opacity: 0.5 }
.modal-dialog {
    z-index: 1080;
    max-width: 550px;
}

.modal-dialog .form-group {
    margin-bottom: 7px;
    height: auto !important;
}

.modal-dialog .form-group.well {
    margin: 0 0 10px 0;
    padding: 0;
}

/* fix for modal breakage in firefox */
.modal-dialog .form-group label {
    display: inline;
}

#login-modal .modal-dialog {
    z-index: 1050;
}

.modal-row p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Main Content and Panels */
.panels {
    height: 100%;
    text-align: left;
    padding: 20px 0px;
    max-width: 700px;
    margin: 65px auto 0 auto;
}
.panels .column {
    text-align: left;
}
.panels h2 {
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 28px;
    border-bottom: 2px solid #ccc;
    font-size: 24px;
}
.content {
    padding: 0;
    border: none;
    position: relative;
    max-width: 960px;
    margin: 0px auto;
}

.panel-heading {
    padding: 15px 15px;
}

/* Custom panels */
.panel-heading .header-link-row {
    height: 34px;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 14px;
}

.control-row span {
    line-height: 30px;
}

.control-row span.glyphicon {
    font-size: 24px;
    color: #5cb85c;
    cursor: pointer;
}

.control-row span.glyphicon:hover {
    color: green;
}

/* 'BETA' tagline */
.tagline {
    font-size: 8px;
    padding-left: 3px;
    vertical-align: middle;
}

.header-link-row .seperator {
    margin-right: 8px;
    padding-left: 8px;
}

.panel-heading .header-link-row label {
    margin-left: 6px;
    padding-right: 0;
}

.panel-heading .header-link-row input {
    vertical-align: top;
    width: 13px;
}

.panel-heading .search-control input {
/*    width: 240px;*/
}

.panel-header-row > div {
    margin-top: 0;
}

/* Equalises size when two are stacked and the label is different
    ie, the words are different length. 62px works for this specific case
*/
.panel-header-row .input-group > .input-group-addon {
    min-width: 62px;
}

/*.panel-heading .search-control.datepicker-resize input {
    float: right;
    margin-right: 14px;
}*/

.panel-heading .search-control.small input {
    width: 120px;
}

/*
.search-control.datepicker-resize input {
    width: 210px;
}

.panel-heading .search-control.refresh-button {
    margin-left: 14px;
}
*/
.panel-default.beta-notification-panel {
    background-color: #ffd8d8;
    border: 2px solid #c3c3c3;
    padding: 16px;
    border-radius: 20px;
    color: #7f7f7f;
    font-weight: bold;
}

.panel-alert {
    background-color: #cc0000;
    margin-bottom: -10px;
    color: white;
    padding: 10px 10px 10px 5px;
    font-size: .9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-alert .glyphicon {
    font-size: 1.5em;
}

.panel-alert a {
    font-weight: 700;
    color: inherit;
    text-decoration: underline;
}

/* DatePicker Wrapper
================================================== */

.datetimepicker-wrapper .form-control{
    height: 33px;
}

.mac-wrapper .form-control {
    float: left;
    width: 15%;
    margin-right: 2%;
    padding: 10px;
}

.mac-wrapper .form-control:last-of-type {
    margin-right: 0;
}

.mac-wrapper .form-control.mac-error {
    border-color: red;
}

/* Header
================================================== */
.panels > .header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 65px;
    padding: 0;
    background: #00629B;
    color: #fff;
    z-index: 1000;
}
.header .column {
    padding: 10px;
    width: 100%;
}
.header .title {
    width: 320px;
    position: absolute;
    height: 65px;
    line-height: 65px;
    top: 0;
    left: 0;
    text-align: center;
    margin-left: 30px;
    text-align:left;
}
.header .title h1 {
    font-weight: 300;
    font-size: 1em;
    color: #fff;
    margin: 0;
    text-align: center;
}

.header .title em{
    margin-right: 12px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
}

.header .title-text {
    line-height:65px;
}
.header .header-btn {
    /*border-right: 1px solid #035584;*/
    position: absolute;
    height: 65px;
    text-align: center;
    top: 0;
    cursor: pointer;
}
.header .header-btn span em {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.header .app-options {
    position: absolute;
    top: 0;
    right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 300px;
    text-align: right;
}

.header .app-options a {
    line-height: 65px;
    color:white;
    margin-left: 20px;
}

.header .app-options .link-spanner {
    padding-right: 15px;
    text-decoration:underline;
}
.header .app-options span {
    line-height: 65px;
    color: white;
}
.header .app-options em { margin-left: 6px }
.header .app-options a.dropdown-toggle {
    text-decoration: none;
    color: white;
}
.header .app-options a.dropdown-toggle em { font-size: 22px }
.header .app-options a.dropdown-toggle .caret { margin-bottom: 5px }

/* Loader
==================================================
This is z-indexed above the modal(1050)
*/
.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10060;
    display: none;
}
.loading .loading-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1060;
    background-color: #333;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.loading .spinner {
    top: 40%;
    left: 50%;
}

.chart-loading, .load-message{
    display: none;
}

.load-message h4{
    animation: blink 1.2s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.chart-loading .chart-backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1060;
    background-color: #333;
    opacity: 0.5;
    filter: alpha(opacity=40);
}

/* Base Control Styles
================================================== */
.panel-control {
    margin: 15px 0;
    border-bottom: 2px solid #ccc;
    height: 60px;
    position: relative;
    white-space: nowrap;
}
.panel-control .view-control {
    position: absolute;
    top: 4px;
    left: 0;
    width: 50%;
    text-align:left;
}
.panel-control .view-control label {
  line-height: 32px;
  display: inline-block;
  padding-right: 15px;
  text-align:left;
}
.panel-control .view-control .btn-group {
  position: relative;
  text-align:left;
}
.add-control label {
  padding-right: 15px;
}
.add-control input {
  width: 165px;
  display: inline-block;
}
.add-control div {
  display: inline-block;
}

.panel-control .search-control .dropdown-menu,.ng-table .dropdown-menu {
  left: auto;
  right: 0;
  text-align: left;
}

.ng-table th {
  text-align: left;
}

#devicelist-table .ng-table-pager {
/*
    hack to remove pagination on group modal table
    see: https://github.com/esvit/ng-table/issues/6
*/
    display: none;
}

/* show dropdown in table */
#devicelist-table.table-responsive {
    overflow-x: visible;
}

#devicelist-table.table-responsive .locked tr > th:last-of-type {
    /* another ng-table hack to hide unused header column */
    display: none;
}

.listing-controls .listing-search .col-sm-9 { padding-right: 0 }
.panel-settings {
    margin-top: 10px;
    background: #eee;
}
.panel-title {
    display: inline-block;
    line-height: 35px;
}

.panel-title .property-name {
    font-weight: bold;
}

.panel-title .group-id {
    color: gray;
    font-size: 90%;
}

.panel-title .devices-count {
    font-size: 90%;
    white-space: nowrap;
}

.panel-title .edit-property {
    font-size: 14px;
    margin: 0 10px;
    text-decoration:underline;
    cursor:pointer;
}

.panel-title-button.multiple-button-spacing {
    margin-bottom: 0;
}

.nav,
.pagination,
.carousel,
.panel-title a { cursor: pointer }

.clear {
  clear: both;
  height: 0px;
}

.groups-panel {
    margin: 0px auto;
}

.groups-panel .panel-title {
    font-weight: bold;
}

ul.group-select {
    padding: 0;
   /* list-style:none;
     margin: 0;
    width: 350px;
    margin: 0px auto;  */
}

ul.group-select li {
    border-bottom: 1px solid #ccc;
}

ul.group-select .group-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.group-select a {
    line-height: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* font-awesome cross & tick
================================================== */
.success-indicator {
    margin-right: 2px;
}
.fa.fa-wifi.active {
    color: green;
}
.fa.fa-wifi.inactive {
    color: #eeefff;
}
.success-indicator i.fa-times {
    color: red;
}

.success-indicator i.fa-check {
    color: green;
}

#timezone-select div > select,
#timezone-select div > .chosen-container {
    width: 100%;
}

.hideme{
    visibility: hidden;
}

.padding-span{
    padding: 5px 10px;
}

/* #Media Queries
================================================== */


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 610px) {

    .panel-header-row > div {
        margin-top: 1em;
    }

    .search-control-row .search-control,
    .panel-header-row > div {
        margin-top: 1em;
    }

}

/*Mobile Responsive Queries tlakmal*/
.bluebar{
    background-color: rgb(0, 98, 155) !important;
    border-color: none !important;
}

.navbar{
    border-radius: 0px !important;
    min-height: 65px !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
    margin-top: 5px !important;
}

.navbar-right{
    margin-top: 5px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF !important;
    text-decoration: underline !important;
}

.navbar-brand {
    float: left !important;
    height: 50px !important;
    padding: 15px !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.navbar-brand a{
    text-decoration: none !important;
}

.wifi-icon{
    margin-right: 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: none !important;
    line-height: 1 !important;
}

#userControllerLinks{
    display: block;
}

#userControllerLinks2{
    display: none;
}

/*AAA Log Page Input field Right Margins*/
/*    width: 100% !important;
.margin-right-4px{
    margin-right: -4%;
}

.margin-right-7px{
    margin-right: -7%;
}

#tblAaaLogData .panel-heading .search-control input {
}

#tblChangeHistoryLog .panel-heading .search-control input {
    width: 100% !important;
}
*/

.single-line {
    margin-top: 7px;
}

.multiple-lines > div {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 5px;
}

.row-with-checkboxes > div label {
    padding-left: 5px;
    font-weight: 900;
}

/* slider default overrides */
.rzslider .rz-pointer {
    background-color: #337ab7;
}

.rzslider .rz-bar.rz-selection {
    background: #0db9f0;
}

/* slider layout classes */
.form-group.dl-slider {
    margin-top: 1em;
}

.form-group.dl-slider,
.form-group.dl-slider .dl-slider-label {
    margin-bottom: 1em;
}

/*Change Size of Panel Heading Table*/
@media only screen and (max-width: 500px) {

    .panel-title-button.multiple-button-spacing {
        margin-bottom: 1em;
    }

    .search-control-row .search-control,
    .panel-header-row > div {
        margin-top: 1em;
    }

    .row-with-checkboxes {
        margin-top: 0;
    }

    .row-with-checkboxes > .checkbox {
        padding: 0 0 1em 30px;
    }

    .row-with-checkboxes > div {
        margin-top: 1em;
    }

    #tblDeviceData .panel-heading {
        padding: 15px;
/*        height: 145px !important;*/
    }
/*
    #tblDeviceData .panel-heading .search-control input {
        width: 100% !important;
    }

    #tblDeviceData .panel-heading .search-control input {
        margin-top: 8px !important;
    }*/

    #btnAddDevice{
        margin-bottom: 5px;
    }

    .panel-heading .header-link-row {
        height: 34px;
        padding-top: 0px;
        padding-left: 14px;
        padding-right: 14px;
    }

    #userControllerLinks{
        display: none;
    }

    #userControllerLinks2{
        display: block;
    }

    .modal-dialog .form-group {
        margin-bottom: 7px;
        height: auto !important;
    }

    /* AAA Log Page*/
    #tblAaaLogData .panel-heading {
        padding: 15px;
/*        height: 170px !important;*/
    }

    #tblAaaLogData .panel-heading .search-control input {
/*        width: 100% !important;*/
    }

    #tblAaaLogData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 90%;
    }
    #tblAaaLogData .panel-heading .search-control.refresh-button {
        margin-left: 0px;
    }

    #tblAaaLogData .pull-right {
        float: left !important;
    }

    #tblAaaLogData .margin5px{
        margin-top: 5px !important;
    }

    /* Change History Log Page*/
    #tblChangeHistoryLog .panel-heading {
        padding: 15px;
/*        height: 135px !important;*/
    }

    #tblChangeHistoryLog .panel-heading .search-control input {
        width: 100% !important;
    }

    #tblChangeHistoryLog .panel-heading .search-control.refresh-button {
        margin-left: 0px;
    }

    #tblChangeHistoryLog .pull-right {
        float: left !important;
    }

    #tblChangeHistoryLog .margin5px{
        margin-top: 5px !important;
    }
}

/*Media Queries for Tablet Size Screens*/
@media only screen and (min-width : 501px) and (max-width: 767px) {
    .panel-title-button.multiple-button-spacing {
        margin-bottom: 1em;
    }

    .row-with-checkboxes {
        margin-top: 0;
    }

    .row-with-checkboxes > .checkbox   {
        padding: 0 0 1em 30px;
    }

    .row-with-checkboxes > div {
        margin-top: 1em;
    }

    .panel-header-row > div {
        margin-top: 1em;
    }

    .search-control-row .search-control {
        margin-top: 1em;
    }
/*
    #tblDeviceData .panel-heading .search-control input {
        width: 100% !important;
    }

    #tblAaaLogData .panel-heading .search-control input {
        width: 100% !important;
    }
*/
    #tblAaaLogData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 90%;
    }

    #tblDeviceData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 95%;
    }

    #login-modal .modal-dialog {
        max-width: 100%;
    }
}

/*Media Queries for Large Tablet Size Screens*/
@media only screen and (min-width : 768px) and (max-width: 800px) {

    .panel-header-row > div {
        margin-bottom: 1em;
    }

    #tblAaaLogData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 90%;
    }

    #tblDeviceData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 95%;
    }

    #tblDeviceData .panel-heading .search-control input {
        width: 100% !important;
    }

    .sm-45{
        width: 45% !important;
    }

    .sm-55{
        width: 55% !important;
    }
}

/*Media Queries for Large Tablet Size Screens*/
@media only screen and (min-width : 801px) and (max-width: 980px) {

    .panel-header-row > div {
        margin-bottom: 1em;
    }

    #tblAaaLogData .panel-heading .header-link-row {
        height: 34px;
        padding-top: 6px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 90%;
    }

    .sm-45{
        width: 50% !important;
    }

    .sm-55{
        width: 50% !important;
    }
}

@media only screen and (min-width: 992px) {
    .col-md-12.center-block {
        float: none;
    }
}
