body {background: white !important; overflow: hidden; overflow-y: auto !important;}
#myNavbar {display:none;}

.content > .ng-scope:first-child  {padding-top: 0px;}
.content > .ng-scope:first-child > .ng-scope:first-child {height: 1px;width: 100%;margin-bottom: 20px;}
.content > .ng-scope:first-child > .ng-scope:first-child .panel-default {height: 1px;margin-bottom: 0;border: none;box-shadow: none;background-color: #fff;}
.content > .ng-scope:first-child > .ng-scope:first-child .panel-default .panel-heading {background-color: #fff;}

.content > .ng-scope:first-child > .ng-scope:first-child .property-name { display: none; }
.content > .ng-scope:first-child > .ng-scope:first-child .group-id { display: none; }

.content > .ng-scope:first-child > .ng-scope:first-child {width: 100%;padding-right:0;margin: 0;height: 45px;}
.content > .ng-scope:first-child > .ng-scope:first-child .col-md-12 {width: 100%;padding-right:0;margin: 0;clear: both;}

.content > .ng-scope:first-child > .ng-scope:first-child .panel-title {width: 100%; padding-right:0;}
.content > .ng-scope:first-child > .ng-scope:first-child .edit-property {float: right;padding-right: 5px;}
