
#statusCode {
	color: green;
}

#txtSessionId {
	margin-bottom: 5px;
}

#group_main {
	padding:0;
}

#group_mac {
	float: left;
	padding: 0;
}

#sectionA {
	margin-top: 20px;
}

#sectionB {
	margin-top: 20px;
}

input {
	margin-bottom: 5px;
}

.tabs {
	margin-top: 15px;
}

.serverSelection {
	width: 60%;
}

#errorMsg {
	position: fixed;
	top: 20px;
	right: 50px;
	width: 200px;
	height: 40px;
	background-color: #ff0222;
	display: none;
	opacity: 0.5;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: white;	
}

.testWindow {
	display: none;
	position: fixed;
	width: 70%;	
	height: 80%;
	margin-left: 10%;
	margin-top: 5%;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 99;
	padding-right: 10px;
	padding-top: 5px;
}

.testWindowClose {
	position: relative;
	float: right;
	font-size: 20px;	
	cursor: pointer;
}

.testWindowTable {
	width: 80%;
	position: relative;
	margin-left: 10%;
	margin-top: 5%;
}
