@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex w-full items-center justify-center gap-x-2 rounded border border-gray-300 bg-white p-2 text-sm hover:bg-gray-50;
  }
  .btn.btn-primary {
    @apply border-primary bg-primary bg-opacity-95 text-gray-50 hover:bg-opacity-100;
  }
  .form-group {
    @apply mb-2 flex flex-wrap text-sm;
  }
  .form-group .label {
    @apply w-full font-bold md:w-5/12;
  }
  .form-group .form-item {
    @apply flex w-full flex-col md:w-7/12;
  }
  .form-group .form-item .button-group {
    @apply flex items-center [&>*:first-child]:rounded-r-none [&>*:last-child]:rounded-l-none [&>*:not(:first-child)]:-ml-px [&>*]:rounded;
  }
  .form-group .button-group button {
    @apply border border-gray-300 px-3 py-1.5 hover:bg-gray-200;
  }
  .form-group .form-item input[type='text'],
  .form-group .form-item input[type='email'],
  .form-group .form-item input[type='password'] {
    @apply h-[34px] w-full appearance-none rounded border py-1.5 px-3 leading-tight text-gray-700 focus:border-primary focus:border-opacity-50 focus:outline-none;
  }
  .form-group .form-item input[type='range'] {
    @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200;
  }
}
