
/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@font-face {
  font-family: 'StagSans-Book';
  src: url('../fonts/StagSans-Book-Web.eot'); 
  src: url('../fonts/StagSans-Book-Web.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/StagSans-Book-Web.woff') format('woff'), 
       url('../fonts/StagSans-Book-Web.ttf')  format('truetype'),
       url('../fonts/StagSans-Book-Web.svg#svgFontName') format('svg'); 
}
@font-face {
  font-family: 'StagSans-Light';
  src: url('../fonts/StagSans-Light-Web.eot'); 
  src: url('../fonts/StagSans-Light-Web.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/StagSans-Light-Web.woff') format('woff'), 
       url('../fonts/StagSans-Light-Web.ttf')  format('truetype'),
       url('../fonts/StagSans-Light-Web.svg#svgFontName') format('svg'); 
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?p2ht2e');
    src:    url('fonts/icomoon.eot?p2ht2e#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?p2ht2e') format('truetype'),
        url('../fonts/icomoon.woff?p2ht2e') format('woff'),
        url('../fonts/icomoon.svg?p2ht2e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'StagSans-Book', Fallback, sans-serif;
    color: #555555;
    /*margin-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.center-template{
    padding: 60px 15px;
    text-align: center;
}

.red-color{
    color: #d9534f;
}

.gsignin-btn{
    display: inline-flex;
    margin-top: 5px;
}

.btn-custom-dropdown{
    vertical-align: inherit !important;
}

.text-custom-link{
    border-bottom: dotted 2px #3399f3;
    display: inline-block;
    cursor: pointer;
}

.pull-right-footer {
    float: right !important;
}

.pull-left-footer {
    float: left !important;
}

.mobile-div{
    display: none;
}

footer {
    background-color: #3E3061;
    padding: 18px 0;
    color: #cfced5;
    font-size: 14px;
}

footer a, footer a:hover {
    color: #cfced5;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    transition: all 0.5s ease 0s;
}

footer a:hover { color: #fff; }

footer .featured-prop { display: inline-block; float: left; }

.navbar {
    background-color: transparent !important;
    background: rgba(0,0,0,0.5) !important;
    border-width: 0px !important;
    -webkit-transition: all 0.4s ease !important;
   transition: all 0.4s ease !important;
}

nav.navbar.shrink {
  background: #3e3061 !important;
}

.navbar-title {
    line-height: 50px;
    color:white;
}

.navbar-header {
    margin-top:8px;
}

.navbar-brand {
    background: url(../images/logo-starwood.png);
    background-size: 180px 34px;
    background-repeat: no-repeat;
    width:180px;
    height:34px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/header.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 100px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline .header-text-container {
    margin:0px auto 40px auto;
    text-align: left;
}

.headline .header-text {
    font-size:50px;
    background:none;
    color:white;
    text-shadow: 3px 3px 8px #000;
    font-family: 'StagSans-Book', Arial, Helvetica, sans-serif;
}

.tm-sign {
    position: absolute;
    font-size: 65%;
    margin-top: 0.2%;
}

.headline .header-text .icon-star-spg {
    margin-left: 2px;
}


.whiteb{
    background: #fff;
    background: rgba(255,255,255,0.9);
}

/*.featurette-divider {
    margin: 5px 0;
}*/

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 30px;
    color: #3e3061;
}

.page-heading{
    font-size: 30px;
}

.width300{
    width: 300px;
}

.navbar-inverse {
    background-color: #080808;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#000000');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#000000));
    background: -moz-linear-gradient(top, #080808, #000000);
    background: linear-gradient(#080808, #000000);
    border-color:#080808;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.header-text-content{
    font-size:18px;
    color: white;
    text-shadow: 3px 3px 8px #000;
}

.navbar-fixed-top {
    min-height: 54px;
}

.icon-star-spg:before {
    content: "\e900";
}

.star{
    font-size: 30%;
    color: #fff;
    display: inline-block;
    opacity: .3;
    zoom: 1;
}

.inner-margin{
    margin: 10px;
}

.top-margin{
    margin-top: 50px;
}

.top50-margin {
    margin-top: 50px !important;
}

.btn-getstarted {
    padding: 10px 18px !important;
}

.tac-link{
    color: #ffe792;
    text-decoration: none;
}

.tac-link:hover{
    color: #ffe792;
    text-decoration: underline;
}

.tac-bot-link{
    color: #3e3061;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.tac-bot-link:hover{
    color: #3e3061;
    text-decoration: underline;
}

.alert-danger {
    color: #aa0d32 !important;
}

.btn-starwood {
    border-radius: 0;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 16px;
}

.btn-purple { 
  background-color: #684C89; 
  border-color: #684C89;  
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #fff; 
  background-color: #483b69; 
  border-color: #684C89; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-shw-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #684C89; 
  border-color: #684C89; 
} 
 
.btn-purple .badge { 
  color: #684C89; 
  background-color: #ffffff; 
}

.email-call{
    color: #664f8c;
    font-family: 'StagSans-Book', Arial, Helvetica, sans-serif;
}

.link-purple{
    color: #664f8c;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.link-purple:hover{
    color: #664f8c;
}

.custom-h2{
    font-family: 'StagSans-Light', Arial, Helvetica, sans-serif;
    color: #3e3061;
}

.no-wrap{
    white-space: nowrap;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }

    .page-heading{
       font-size: 35px; 
    }
}

@media(min-width:1200px) {
    .header-text-container{
        padding-right: 50%;
    }
}

@media only screen and (min-width:1200px)  and (max-width: 1600px) {
    .header-text-container{
        padding-right: 38%;
    }
}

@media only screen and (min-width:1601px) {
    .header-text-container{
        padding-right: 25%;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }

    .page-heading{
        font-size: 30px;
    }
}

@media(max-width:768px) {
    
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-heading {
        font-size: 18px;
    }

    .page-heading{
        font-size: 18px;
    }

    .navbar-title {
        display:none;
    }

    .pull-right-footer {
        float: none !important;
    }

    .pull-left-footer {
        float: none !important;
    }
}

@media only screen and (min-width:768px)  and (max-width: 1024px) {
    .header-text-container{
        padding-right: 20%;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 10px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 25px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 25px;
    }
    .headline .header-text {
        font-size:25px;
        padding: 0 10px;
    }

    .header-text-content{
        font-size:16px;
        margin-top: 5px;
        padding: 5px;
    }

    .pull-right-footer {
        float: none !important;
    }

    .pull-left-footer {
        float: none !important;
    }
}

@media(max-width:375px) {
    .featurette {
        display: table;
    }

    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
        display: table-footer-group;
    }

    .featurette-image.pull-left {
        margin-top: 20px;
        /*margin-right: 0;*/
        margin-bottom: 20px;
        /*float: none !important;*/
    }

    .featurette-image.pull-right {
        margin-top: 20px;
        /*margin-left: 0;*/
        margin-bottom: 20px;
        /*float: none !important;*/
    }

    .featurette-heading {
        font-size: 18px;
        text-align: center;
        display: table-caption;
    }

    .page-heading {
        font-size: 18px;
    }

    .para{
        text-align: center;
        display: table-header-group;
    }

    .header-text-content{
        font-size:16px;
        padding: 5px;
    }

    .btn-getstarted {
        margin-top:10px;
    }    
}

@media only screen and (max-width: 768px){
    .headline .header-text-container {
        text-align: center;
        visibility: hidden;
        display: none;
    }

    .mobile-div{
        display: block;
        margin-top: 10px;
    }

    .header-text{
        text-align: center;
        color: #3e3061;
        font-size: 20px;
    }

    .header-text-content {
        color: #555555;
        text-shadow: none;
        text-align: center;
    }

    .btn-purple{
        width: 100%;
    }

    .header-image {
        height: 250px;
    }

    .star{
        color: #3e3061;
    }
}

@media only screen and (min-width:641px)  and (max-width: 768px) {
    .top-margin{
        margin-top: 0px;
    }

    .header-text{
        font-size: 30px;
    }
}