<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AAA Dasboard</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Angular -->
    <script src="js/angular/angular.min.js"></script>
    <!-- Styles -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Controllers -->

    <!-- Charts -->
    <script src="js/Chart.min.js"></script>
    <script src="js/angular-chart.js/angular-chart.js"></script>
    <link rel="stylesheet" href="js/angular-chart.js/angular-chart.css">
    <script src="js/moment/moment.js"></script>
    <script src="js/moment/angular-moment.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src="js/angular-spinner.js"></script>
    <!-- Controller -->
    <script src="js/controller.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AAA Charts</a>
        </div>
      </div>
    </nav>

    <div class="container" ng-controller="mainCtrl">

      <div class="center-template">

        <div class="row">
          <!-- Chart -->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row" ng-init="groupChanged(selectedGroup)">
                  <div class="col-md-3 pull-right form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Group</label>
                      <div class="col-sm-10">
                      <select class="form-control" ng-change="groupChanged(selectedGroup)" ng-model="selectedGroup">
                        <option ng-repeat="group in groups">{{group}}</option>
                      </select>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
                    <canvas id="line" class="chart chart-line" chart-data="data"
                      chart-labels="labels" chart-legend="true" chart-series="series"
                      chart-click="onClick" >
                    </canvas> 
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>   

        <div class="row">
          <!-- Chart 2-->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                  <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="data2" chart-labels="labels2">
                  </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Chart 2-->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <strong>Embed Script Code</strong>
                      <!-- <pre>
                        <script src="http://52.10.241.231/js/dashboard.js" type="text/javascript"></script>
                        <div id="aaa-dashboard-container"></div>
                      </pre> -->
                      <pre>&lt;script src="{{serverurl}}js/dashboard.js" type="text/javascript"&gt;&lt;/script&gt;<br>&lt;div id="aaa-dashboard-container"&gt;&lt;/div&gt;</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   

      </div>
    </div><!-- /.container -->
  </body>
</html>
