<div class="row" ng-include src="'panel-header.html'">
</div>

<div class="row">
  <div class="col-md-12">
    <div id="tblAaaLogData" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="add-control col-lg-2 col-md-2 col-sm-2" >
            <button type="button" class="btn btn-default" ng-click="vm.goBack()">Close Log</button>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row">
              <div class="search-control col-xs-12 col-sm-8 col-md-8">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="row row-with-checkboxes">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 single-line" ng-if="vm.data.length">
                        <a class="link" ng-click="vm.exportAaaLogs(someDate, vm.includeStrayRequests, vm.includeBubbleLogs)">Export Log</a>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 multiple-lines">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox" style="margin-top: 0; margin-bottom: 0;">
                            <label><input type="checkbox" ng-model="vm.includeStrayRequests">Show unmatched attempts</label>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox" style="margin-top: 0; margin-bottom: 0;">
                            <label><input type="checkbox" ng-model="vm.includeBubbleLogs">Show all logs</label>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                      <input type="text" class="form-control"
                         datepicker-popup="mediumDate"
                         is-open="vm.calendarIsOpened"
                         datepicker-options="vm.dateOptions"
                         show-button-bar="false"
                         ng-click="vm.open()"
                         ng-model="vm.someDate" />
                  </div>
                </div>
              </div>
              <div class="search-control col-xs-12 col-sm-4 col-md-4">
                <div class="row panel-header-row">
                  <div class="search-control" ng-class="{'col-xs-12 col-sm-12 col-md-12': !vm.showRefreshButton, 'col-xs-8 col-sm-8 col-md-8': vm.showRefreshButton }">
                    <input type="text"
                           class="form-control"
                           id="inputLogSearch"
                           name="logsearch"
                           ng-model="vm.filter.$"
                           placeholder="Search logs">
                  </div>
                  <div class="search-control col-xs-4 col-sm-4 col-md-4" ng-if="vm.showRefreshButton">
                    <button type="button" class="btn btn-default btn-block" ng-click="vm.refreshDataTable()">
                      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="panel-body" style="padding: 20px; font-size:12px;">
      <div class="load-message row text-center" style="margin: 10px 0px 5px 0px;">
        <h4 class="text-center">Fetching Log Data. This might take a while.....</h4>
      </div>
      <div ng-if="vm.showchart">
      <button ng-click="vm.changeBtnClass($event)" class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseChart" aria-expanded="true" aria-controls="collapseChart">
        <i ng-class="vm.btnClass"></i>
      </button>
      <div class="row collapse in" id="collapseChart">
        <div class="col-md-10 col-md-offset-1">
          <canvas id="line" class="chart chart-line" chart-data="vm.chartdata" chart-colors="vm.chart_colors"
            chart-labels="vm.labels" chart-legend="false" chart-series="vm.series">
          </canvas>
        </div>
      </div>
      <hr>
      </div>
      <div class="table-responsive">
        <table ng-table="vm.tableParams" class="table">
          <tr ng-repeat="log in $data">
            <td data-title="'Username'" sortable="'Username'">
              <span class="fa-lg success-indicator">
                <i class="fa fa-wifi" data-toggle="tooltip" data-placement="bottom" title="Remote Authentication {{ log.IsProxied ? 'On' : 'Off' }}" ng-class="{'active': log.IsProxied, 'inactive': !log.IsProxied}" tooltip></i>
                <i class="fa" ng-class="{'fa-times': log.Access == 'Access-Reject', 'fa-check': log.Access == 'Access-Accept'}" data-toggle="tooltip" data-placement="bottom" title="{{log.Access}}" tooltip></i>
              </span>
              {{log.Username}}
            </td>
            <td data-title="'Site ID'" sortable="'Group_ID'">
              {{log.Group_ID}}
            </td>
            <td data-title="'Called Station ID'" sortable="'CalledStationId'">
              {{log.CalledStationId}}
            </td>
            <td data-title="'Calling Station ID'" sortable="'CallingStationId'">
              {{log.CallingStationId}}
            </td>
            <td data-title="'Event Timestamp'" sortable="'LocalTime'">
              <span title="{{ vm.timezoneTooltipText }}" data-toggle="tooltip" data-placement="bottom" tooltip>{{log.LocalTime}}</span>
            </td>
            <td data-title="'NAS Identifier'" sortable="'NASIdentifier'">
              {{log.NASIdentifier}}
            </td>
            <td data-title="'NAS IP Address'" sortable="'NASIpAddress'">
              {{log.NASIpAddress}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
