<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="property-name">Change History</span>
        </div>
       </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default beta-notification-panel">
      <p>This page is in beta. Please report bugs and include screen shots when possible.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="tblChangeHistoryLog" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="add-control col-lg-3 col-md-3 col-sm-3" >
            <button type="button" class="btn btn-default" ui-sref="users">Close Log</button>
            <!--
              <div class="header-link-row">
                <div class="control-wrapper">
                  <a class="link" ng-click="exportAuditTrail()" ng-if="logdata.length">Export Log</a>
                </div>
              </div>
            -->
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="row panel-header-row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" type="button">From:</span>
                      <input type="text" class="form-control"
                        is-open="vm.opened.start"
                        datepicker-options="vm.dateOptions"
                        show-button-bar="false"
                        ng-click="vm.open('start')"
                        datepicker-popup="mediumDate"
                        show-weeks="false"
                        ng-model="vm.date.startDate" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" type="button">To:</span>
                      <input type="text" class="form-control"
                        datepicker-popup="mediumDate"
                        is-open="vm.opened.end"
                        datepicker-options="vm.dateOptions"
                        show-button-bar="false"
                        ng-click="vm.open('end')"
                        ng-model="vm.date.endDate" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="row search-control-row">
                  <div class="search-control col-xs-9 col-sm-9 col-md-9" >
                    <input type="text"
                       class="form-control"
                       id="inputLogSearch"
                       name="logsearch"
                       ng-model="vm.filter.$"
                       placeholder="Search logs">
                  </div>

                  <div class="search-control col-xs-3 col-sm-3 col-md-3">
                    <button type="button" class="btn btn-block btn-default" ng-click="vm.refreshDataTable()">
                      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" style="padding: 20px; font-size:12px;">
        <div class="table-responsive">
          <table ng-table="vm.tableParams" class="table">
             <tr ng-repeat="logdata in $data">
              <td data-title="'Date'" sortable="'Date'">
                {{ logdata.Date | date:'medium'}}
              </td>
              <td data-title="'Group_ID'" sortable="'GroupId'">
                {{ logdata.Group_ID }}
              </td>
              <td data-title="'Identifier'" sortable="'Identifier'">
                {{ logdata.Identifier }}
              </td>
              <td data-title="'Instance'" sortable="'Instance'">
                {{ logdata.Instance }}
              </td>
              <td data-title="'Message'" sortable="'Message'">
                {{ logdata.Message }}
              </td>
             </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
