<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default groups-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="panel-title col-xs-7 col-sm-9 col-md-10">Choose Site</div>
          <div class="col-xs-5 col-sm-3 col-md-2">
            <button type="button" class="btn btn-primary btn-block" ui-sref="users">Go Back</button>
          </div>
        </div>
      </div>
      <ul class="panel-body list-group group-select">
        <li class="list-group-item" ng-repeat="group in vm.groups">
          <div class="row">

            <div class="col-sm-9 col-xs-8">
              <span class="pull-left group-name" ng-bind="group.Name || 'No Name'"></span>
            </div>
            <div class="col-sm-3 col-xs-4 group-actions">
              <div class="pull-right">
                <a data-title="RemoveSite" ng-click="vm.removeSite(group, $index)" ng-if="vm.formEditable && group.Name !== 'Global'">Remove</a>
                <span ng-if="vm.formEditable && group.Name !== 'Global'">&nbsp;|&nbsp;</span>
                <a data-title="SelectSite" ng-click="vm.selectSite(group, $index)">Select</a>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
