<div id="login-modal" class="" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <h2 class="text-center">Login</h2>
			</div>
			<div class="modal-body row">
			  <form name="vm.loginForm" class="form col-md-12 center-block" novalidate>

			    <div class="form-group" ng-if="vm.showError">
					<div class="alert alert-danger" role="alert">
						<span class="help-inline">
							<i class="fa fa-exclamation-circle"></i>&nbsp;{{ vm.error }}
							<button type="button" ng-click="vm.toggleError()" class="close" aria-hidden="true">×</button>
						</span>
					</div>
	            </div>

			    <div class="form-group">
			      <input type="email" name="email" ng-model="vm.user.email" class="form-control input-lg" placeholder="Email" required>
			    </div>
			    <div class="form-group" ng-if="vm.loginForm.$submitted && vm.loginForm.email.$error.required">
					<span class="help-inline">
						<i class="fa fa-exclamation-circle"></i>&nbsp;An email is required
					</span>
	            </div>
			    <div class="form-group">
			      <input type="password" name="password" ng-model="vm.user.password" class="form-control input-lg" placeholder="Password" required>
			    </div>
			    <div class="form-group" ng-if="vm.loginForm.$submitted && vm.loginForm.password.$error.required">
					<span class="help-inline">
						<i class="fa fa-exclamation-circle"></i>&nbsp;A password is required
					</span>
	            </div>
			    <div class="form-group">
			      <button ng-class="{'disabled': vm.loginForm.$invalid}" ng-click="vm.login(vm.user)" class="btn btn-primary btn-lg btn-block" ng-disabled="vm.loginForm.$invalid">Sign In</button>
			    </div>
			  </form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
