<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default groups-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="panel-title col-xs-7 col-sm-9 col-md-10">You are not logged in</div>
        </div>
      </div>
    </div>
  </div>
</div>
