<div class="row" ng-include src="'panel-header.html'"></div>

<div class="row">
  <div class="col-md-12">
    <div id="tblDeviceData" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="add-control pull-left col-lg-8 col-md-9 col-sm-9 col-xs-12" >
            <button id="btnAddDevice" type="button" class="btn btn-default  col-xs-12 col-sm-3 col-md-3" ng-click="vm.createUser( user )" id="btnAddDevice">Add Device</button>
            <div id="userControllerLinks" class="header-link-row col-xs-12 col-sm-9 col-md-9">

              <div class="control-wrapper">
                <a class="link" ng-click="vm.importUsers()">Import</a>
              </div>

              <div class="control-wrapper">
                <span class="seperator">|</span>
                <a class="link" ng-click="vm.exportUsers()">Export</a>
              </div>

              <div class="control-wrapper">
                <span class="seperator">|</span>
                <a class="link" ui-sref="aaa_log">AAA Log</a>
              </div>

              <div class="control-wrapper" ng-show="vm.viewHistoryToggle">
                <span class="seperator">|</span>
                <a class="link" ui-sref="change_history">Change History</a>
                <span class="tagline">BETA</span>
              </div>

            </div>
            <!-- Alternative Div to fix on four columns on mobile -->
            <div id="userControllerLinks2" class="header-link-row row">
              <div class="col-xs-3">
                <a class="link" ng-click="vm.importUsers()">Import</a>
              </div>
              <div class="col-xs-3">
                <a class="link" ng-click="vm.exportUsers()">Export</a>
              </div>
              <div class="col-xs-6">
                <a class="link" ui-sref="aaa_log">AAA Log</a>
              </div>
              <div class="col-xs-12" ng-show="vm.viewHistoryToggle">
                <a class="link" ui-sref="change_history">Change History</a>
                <span class="tagline">BETA</span>
              </div>
            </div>

          </div>
          <div class="search-control pull-right col-lg-4 col-md-3 col-sm-3 col-xs-12" >
             <input type="text"
                       class="form-control pull-right"
                       id="inputDeviceSearch"
                       name="devicesearch"
                       ng-model="vm.filter.$"
                       placeholder="Search devices">
          </div>
        </div>
       </div>
       <div class="panel-body" style="padding: 20px; font-size:12px;">
        <div class="table-responsive">
          <table ng-table="vm.tableParams" class="table">
             <tr ng-repeat="user in $data">
                <td data-title="'DeviceName'" sortable="'DeviceName'">
                   {{user.DeviceName}}
                </td>
                <td data-title="'Username/MAC'" sortable="'Username'">
                   {{user.Username}}
                </td>
                <td data-title="'Description'" sortable="'Description'">
                   {{user.Description}}
                </td>
                <td data-title="'Expiration'" sortable="'ExpirationDate'">
                   {{user.ExpirationDate | date:'MM/dd/yyyy'}}
                </td>
                <td data-title="'Vlan'" sortable="'Vlan'">
                   {{user.Vlan}}
                </td>
                <td data-title="'Actions'" >
                   <a data-title="EditDevice" ng-click="vm.updateUser( user )">Edit</a> |
                   <a data-title="RemoveDevice" ng-click="vm.deleteUser( user )">Remove</a>
                </td>
             </tr>
          </table>
        </div>
       </div>

    </div>
  </div>
</div>
