<script lang="ts">
  import { addGroup, fetchSelectedGroup } from '$lib/services/groups';
  import { fetchSupplicantList } from '$lib/services/users';
  import { userSession } from '$lib/stores/auth';
  import { showSpinner } from '$lib/stores/spinner';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';
  import TimezonePicker from '../TimezonePicker.svelte';

  const dispatch = createEventDispatcher();

  let siteName = '';
  let siteID = '';
  let timezone = '';
  let submitted = false;
  let message = '';

  $: siteNameValid = siteName !== '';
  $: siteIDValid = siteID !== '';
  $: timezoneValid = timezone !== '';
  $: formIsValid = siteNameValid && siteIDValid && timezoneValid;

  export const submitAddSite = async () => {
    submitted = true;
    if (!formIsValid) {
      return;
    }

    $showSpinner = true;

    const { Error, Group: addedGroup } = await addGroup($userSession!.ID, {
      ID: siteID,
      Name: siteName,
      TimeZone: timezone,
      RemoteServerUrl: '',
      SharedSecret: ''
    });

    if (Error) {
      message = Error;
    } else {
      message = '';
      await fetchSelectedGroup($userSession!.ID, addedGroup.ID);
      await fetchSupplicantList($userSession!.ID, addedGroup.ID);
      dispatch('done');
    }

    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<div class="text-gray-800">
  <div class="form-group">
    <div class="label">Site Name</div>
    <div class="form-item">
      <input class:border-red-500={!siteNameValid && submitted} type="text" bind:value={siteName} />
      {#if !siteNameValid && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          Site name is required
        </span>
      {/if}
    </div>
  </div>

  <div class="form-group">
    <div class="label">Site ID</div>
    <div class="form-item">
      <input class:border-red-500={!siteIDValid && submitted} type="text" bind:value={siteID} />
      {#if !siteIDValid && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          Site ID is required
        </span>
      {/if}
    </div>
  </div>

  <div class="form-group">
    <div class="label">Timezone</div>
    <div class="form-item">
      <TimezonePicker bind:value={timezone} showInvalidBorder={!timezoneValid && submitted} />
      {#if !timezoneValid && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          Site timezone is required
        </span>
      {/if}
    </div>
  </div>
</div>
