<script lang="ts">
  import { deleteGroup, fetchSelectedGroup } from '$lib/services/groups';
  import { userSession } from '$lib/stores/auth';
  import { selectedGroup } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import type { Group } from '$lib/types/groups';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let group: Group;
  let message = '';

  export const submitDeleteSite = async () => {
    $showSpinner = true;
    const { Error } = await deleteGroup($userSession!.ID, group);
    if (Error) {
      message = Error;
    } else {
      message = '';
      if ($selectedGroup.ID === group.ID) {
        await fetchSelectedGroup($userSession!.ID, 'Global');
      }
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<p class="text-sm text-gray-800">Are you sure you want to delete the site {group?.Name || ''}?</p>
<p class="text-sm text-gray-800">This will also remove all devices attached to the site.</p>
