<script lang="ts">
  import { deleteGroupAuthenticator, saveGroupAuthenticator } from '$lib/services/groups';
  import { userSession } from '$lib/stores/auth';
  import { authenticators, selectedGroup } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import type { GroupAuthenticator } from '$lib/types/groups';
  import { isMacAddress } from '$lib/utils/validation';
  import Alert from '../Alert.svelte';
  import InputMask from '../InputMask.svelte';

  let message = '';

  let newAuthenticator: GroupAuthenticator = { key: 'called-station-id', value: '' };
  let originalRow: GroupAuthenticator | undefined;

  function resetNewAuthenticator() {
    newAuthenticator = { key: 'called-station-id', value: '' };
  }

  async function addAuthenticator() {
    message = '';
    if (newAuthenticator.key === 'called-station-id' && !isMacAddress(newAuthenticator.value)) {
      message = 'called-station-id must be valid MAC Address';
      return;
    }
    $showSpinner = true;
    const { Error } = await saveGroupAuthenticator(
      $userSession!.ID,
      $selectedGroup.ID,
      newAuthenticator
    );
    if (Error) {
      message =
        Error === 'Invalid Mac'
          ? 'Please enter a valid MAC address.'
          : Error === 'DUPLICATE_RECORD'
          ? 'A device with that ID already exists at another site.'
          : Error;
    } else {
      resetNewAuthenticator();
    }
    $showSpinner = false;
  }

  async function updateAuthenticator(item: GroupAuthenticator) {
    message = '';
    if (item.key === 'called-station-id' && !isMacAddress(item.value)) {
      message = 'called-station-id must be valid MAC Address';
      return;
    }
    $showSpinner = true;
    const { Error } = await saveGroupAuthenticator(
      $userSession!.ID,
      $selectedGroup.ID,
      item,
      false
    );
    if (Error) {
      message =
        Error === 'Invalid Mac'
          ? 'Please enter a valid MAC address.'
          : Error === 'DUPLICATE_RECORD'
          ? 'A device with that ID already exists at another site.'
          : Error;

      item.value = originalRow!.value;
    } else {
      await deleteAuthenticator(originalRow!);
    }

    $showSpinner = false;
  }

  async function deleteAuthenticator(item: GroupAuthenticator) {
    message = '';
    $showSpinner = true;
    const { Error } = await deleteGroupAuthenticator($userSession!.ID, $selectedGroup.ID, item);
    if (Error) {
      message = 'Oops! Something is wrong. Please try later.';
    }
    $showSpinner = false;
  }
</script>

<div class="form-group">
  <div class="label mb-2 w-full">Devices</div>
  {#if $authenticators.length > 0}
    <p>
      Criteria for matching network devices to this site. Any of the following will trigger a match:
    </p>
  {:else}
    <p>There are currently no devices associated with this site.</p>
  {/if}
  <div class="mt-4 w-full">
    <Alert type="danger" {message} on:click={() => (message = '')} />
  </div>
  <div class="mt-2 w-full max-w-[calc(100vw-3.5rem)] overflow-x-auto md:max-w-none">
    <table class="w-full border-collapse border border-gray-300">
      <colgroup>
        <col class="w-2/5" />
        <col class="w-2/5" />
        <col class="w-1/5" />
      </colgroup>
      <thead>
        <tr>
          <th class="border border-gray-300 py-1 px-1.5">Type</th>
          <th class="border border-gray-300 py-1 px-1.5">ID</th>
          <th class="border border-gray-300 py-1 px-1.5" />
        </tr>
      </thead>
      <tbody>
        {#each $authenticators as item, index (index)}
          <tr>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {item.key}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {#if item.editing}
                <div class="form-item !w-full">
                  {#if item.key === 'called-station-id'}
                    <InputMask
                      placeholder="FF:FF:FF:FF:FF:FF"
                      imask={{
                        mask: 'dd:dd:dd:dd:dd:dd',
                        definitions: {
                          d: /[0-9a-fA-F]/
                        }
                      }}
                      bind:value={item.value}
                    />
                  {:else}
                    <input type="text" bind:value={item.value} />
                  {/if}
                </div>
              {:else}
                <span>{item.value}</span>
              {/if}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5 text-center">
              {#if item.editing}
                <!-- check -->
                <button
                  on:click={() => {
                    if (originalRow?.value === item.value) {
                      item.editing = false;
                    } else {
                      updateAuthenticator(item);
                    }
                  }}
                  class="rounded border bg-primary bg-opacity-80 p-1.5 text-white hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
                >
                  <svg
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="4"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5 13 4 4L19 7" />
                  </svg>
                </button>

                <!-- cross -->
                <button
                  on:click={() => {
                    item.editing = false;
                    if (originalRow?.value) {
                      item.value = originalRow.value;
                    }
                    originalRow = undefined;
                  }}
                  class="rounded border bg-gray-100 bg-opacity-30 p-1.5 text-gray-900 hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
                >
                  <svg
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="4"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              {:else}
                <!-- edit -->
                <button
                  on:click={() => {
                    item.editing = true;
                    originalRow = JSON.parse(JSON.stringify(item));
                  }}
                  class="rounded border bg-gray-100 bg-opacity-30 p-1.5 text-gray-900 hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
                >
                  <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      d="M13.586 3.586a2 2 0 1 1 2.828 2.828l-.793.793-2.828-2.828.793-.793zm-2.207 2.207L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                    />
                  </svg>
                </button>

                <!-- delete -->
                <button
                  on:click={() => deleteAuthenticator(item)}
                  class="rounded border bg-red-600 bg-opacity-80 p-1.5 text-white hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
                >
                  <svg
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m19 7-.867 12.142A2 2 0 0 1 16.138 21H7.862a2 2 0 0 1-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v3M4 7h16"
                    />
                  </svg>
                </button>
              {/if}
            </td>
          </tr>
        {/each}
        <tr>
          <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
            <div class="relative flex w-full items-center">
              <select
                bind:value={newAuthenticator.key}
                on:change={() => (newAuthenticator.value = '')}
                class="w-full cursor-pointer appearance-none rounded border border-gray-300 py-1.5 px-3 leading-tight text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200"
              >
                <option value="nas-identifier">nas-identifier</option>
                <option value="called-station-id">called-station-id</option>
              </select>
              <svg
                class="pointer-events-none absolute right-2 h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" />
              </svg>
            </div>
          </td>
          <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
            <div class="form-item !w-full">
              {#if newAuthenticator.key === 'called-station-id'}
                <InputMask
                  placeholder="FF:FF:FF:FF:FF:FF"
                  imask={{
                    mask: 'dd:dd:dd:dd:dd:dd',
                    definitions: {
                      d: /[0-9a-fA-F]/
                    }
                  }}
                  bind:value={newAuthenticator.value}
                />
              {:else}
                <input
                  type="text"
                  placeholder="Please enter a value"
                  bind:value={newAuthenticator.value}
                />
              {/if}
            </div>
          </td>
          <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5 text-center">
            <!-- add -->
            <button
              on:click={addAuthenticator}
              class="rounded border bg-green-600 bg-opacity-80 p-1.5 text-white hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
              disabled={!newAuthenticator.value}
            >
              <svg
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="4"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
              </svg>
            </button>

            <!-- cross -->
            <button
              on:click={() => (newAuthenticator.value = '')}
              class="rounded border bg-gray-100 bg-opacity-30 p-1.5 text-gray-900 hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
              disabled={!newAuthenticator.value}
            >
              <svg
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="4"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
