<script lang="ts">
  import { deleteGroupEndpoint, provisionGroupEndpoint } from '$lib/services/groups';
  import { userSession } from '$lib/stores/auth';
  import { endpoints, isEndpointGlobal, selectedGroup } from '$lib/stores/groups';
  import { showSpinner } from '$lib/stores/spinner';
  import type { GroupEndpoint } from '$lib/types/groups';
  import Alert from '../Alert.svelte';
  import Modal from '../Modal.svelte';

  let message = '';
  let regions = [
    { title: 'us-west', value: 'us-west-2' },
    { title: 'us-east', value: 'us-east-2' }
  ];
  let selectedRegion = regions[0];
  let selectedEndpoint: GroupEndpoint;
  let showDeleteEndpointModal = false;

  $: portProvisionEditable = $selectedGroup.ID.toLowerCase() !== 'global';

  const extractRegionName = (region: string) => {
    const ret = region.split('-');
    return `${ret[0]}-${ret[1]}`;
  };

  const confirmDeleteEndpoint = (endpoint: GroupEndpoint) => {
    selectedEndpoint = endpoint;
    showDeleteEndpointModal = true;
  };

  const handleProvisionClick = async () => {
    message = '';
    $showSpinner = true;
    const { Error } = await provisionGroupEndpoint(
      $userSession!.ID,
      $selectedGroup.ID,
      selectedRegion.value
    );
    if (Error) {
      message = Error;
    }
    $showSpinner = false;
  };

  const submitDeleteEndpoint = async () => {
    message = '';
    showDeleteEndpointModal = false;
    $showSpinner = true;
    const { Error } = await deleteGroupEndpoint(
      $userSession!.ID,
      $selectedGroup.ID,
      selectedEndpoint
    );
    if (Error) {
      message = Error;
    }
    $showSpinner = false;
  };
</script>

<div class="form-group">
  <div class="label mb-2 w-full">Port Provisioning</div>
  {#if $selectedGroup.ID.toLowerCase() === 'global'}
    <p>This is the Global site. The RADIUS ports cannot be changed.</p>
  {:else}
    <p>
      Provision a unique RADIUS port for this site (limit 2). By default, sites use a shared global
      port. Provisioning a unique port will replace the global port. De-provisioning all ports will
      revert the site back to the global port.
    </p>
  {/if}
  <div class="mt-4 w-full">
    <Alert type="danger" {message} on:click={() => (message = '')} />
  </div>
  <div class="mt-2 w-full max-w-[calc(100vw-3.5rem)] overflow-x-auto md:max-w-none">
    <table class="w-full border-collapse border border-gray-300">
      {#if portProvisionEditable}
        <colgroup>
          <col class="w-1/5" />
          <col class="w-1/6" />
          <col class="w-1/6" />
          <col class="w-1/6" />
          <col class="w-1/5" />
          <col class="w-1/12" />
        </colgroup>
      {/if}
      <thead>
        <tr>
          <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5">IP</th>
          <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5">Auth Port</th>
          <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5">Acct Port</th>
          <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5">Region</th>
          <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5">Secret</th>
          {#if portProvisionEditable}
            <th class="whitespace-nowrap border border-gray-300 py-1 px-1.5" />
          {/if}
        </tr>
      </thead>
      <tbody>
        {#each $endpoints as endpoint, index (index)}
          <tr class:bg-yellow-50={$isEndpointGlobal}>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {endpoint.IpAddress}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {endpoint.Port}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {parseInt(endpoint.Port) + 1}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {extractRegionName(endpoint.Region)}
            </td>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              {endpoint.Secret}
            </td>
            {#if portProvisionEditable}
              <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5 text-center">
                {#if $isEndpointGlobal}
                  <svg class="mx-auto h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-2.25a8 8 0 0 0 4-2.46V9a2 2 0 0 1-2-2V3.07a7.95 7.95 0 0 0-3-1V3a2 2 0 0 1-2 2v1a2 2 0 0 1-2 2v2h3a2 2 0 0 1 2 2v5.75zm-4 0V15a2 2 0 0 1-2-2v-1h-.5A1.5 1.5 0 0 1 4 10.5V8H2.25A8.01 8.01 0 0 0 8 17.75z"
                    />
                  </svg>
                {:else}
                  <!-- delete -->
                  <button
                    on:click={() => confirmDeleteEndpoint(endpoint)}
                    class="rounded border bg-red-600 bg-opacity-80 p-1.5 text-white hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-opacity-70"
                  >
                    <svg
                      class="h-4 w-4"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m19 7-.867 12.142A2 2 0 0 1 16.138 21H7.862a2 2 0 0 1-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v3M4 7h16"
                      />
                    </svg>
                  </button>
                {/if}
              </td>
            {/if}
          </tr>
        {/each}
        {#if portProvisionEditable && $endpoints.length < 2}
          <tr>
            <td class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              <strong>Region</strong>
            </td>
            <td colspan="2" class="whitespace-nowrap border border-gray-300 py-1 px-1.5">
              <div class="relative flex w-full items-center">
                <select
                  bind:value={selectedRegion}
                  class="w-full cursor-pointer appearance-none rounded border border-gray-300 py-1.5 px-3 leading-tight text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200"
                >
                  {#each regions as region (region.value)}
                    <option value={region}>{region.title}</option>
                  {/each}
                </select>
                <svg
                  class="pointer-events-none absolute right-2 h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" />
                </svg>
              </div>
            </td>
            <td
              colspan="3"
              class="whitespace-nowrap border border-gray-300 py-1 px-1.5 text-center"
            >
              <button
                on:click={handleProvisionClick}
                class="rounded border bg-green-600 bg-opacity-80 py-1.5 px-2.5 text-xs text-white hover:bg-opacity-100"
              >
                Provision
              </button>
            </td>
          </tr>
        {/if}
      </tbody>
    </table>
  </div>
</div>

<Modal
  title="Confirm endpoint delete action"
  okText="Delete"
  isOpen={showDeleteEndpointModal}
  on:close={() => (showDeleteEndpointModal = false)}
  on:ok={submitDeleteEndpoint}
>
  <p class="text-sm text-gray-800">
    Are you sure you want to delete endpoint
    {#if selectedEndpoint}
      {selectedEndpoint.IpAddress}:{selectedEndpoint.Port}, {selectedEndpoint.Region}
    {/if}
    ?
  </p>
</Modal>
