<script lang="ts">
  import { accounts } from '$lib/stores/accounts';

  import Card from '../Card.svelte';
  import Modal from '../Modal.svelte';
  import AddEditAccount from './AddEditAccount.svelte';
  import DeleteAccount from './DeleteAccount.svelte';

  let selectedAccount: string = '';

  let showAddAccountModal: boolean = false;
  let showEditAccountModal: boolean = false;
  let showDeleteAccountModal = false;
  let submitAddEditAccount: () => Promise<void>;
  let submitDeleteAccount: () => Promise<void>;

  function onEdit(account: string) {
    selectedAccount = account;
    showEditAccountModal = true;
  }

  function onDelete(account: string) {
    selectedAccount = account;
    showDeleteAccountModal = true;
  }
</script>

<Card>
  <div slot="head">
    <div class="font-bold leading-9 text-gray-700">Accounts</div>
  </div>
  <div slot="body">
    {#each $accounts as account (account)}
      <div class="flex items-center justify-between border-b border-gray-200 px-4 py-2.5">
        <div class="text-lg font-bold leading-[30px] text-gray-700">{account}</div>
        <div class="flex items-center space-x-2 text-sm text-primary text-opacity-80">
          <button class="hover:underline" on:click={() => onDelete(account)}>Remove</button>
          <span class="text-gray-400">|</span>
          <button class="hover:underline" on:click={() => onEdit(account)}>Edit</button>
        </div>
      </div>
    {/each}
    <div class="flex items-center justify-between border-b border-gray-200 px-4 py-2.5">
      <div class="text-sm leading-[30px] text-gray-700">Add new account</div>
      <button on:click={() => (showAddAccountModal = true)}>
        <svg
          class="h-7 w-7 text-green-600 hover:text-green-700"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11a1 1 0 1 0-2 0v2H7a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2V7z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</Card>

<Modal
  title="Add Account"
  okText="Add"
  isOpen={showAddAccountModal}
  on:close={() => (showAddAccountModal = false)}
  on:ok={submitAddEditAccount}
>
  <AddEditAccount
    action="add"
    bind:submitAddEditAccount
    on:done={() => {
      showAddAccountModal = false;
    }}
  />
</Modal>

<Modal
  title="Edit Account"
  okText="Update"
  isOpen={showEditAccountModal}
  on:close={() => (showEditAccountModal = false)}
  on:ok={submitAddEditAccount}
>
  <AddEditAccount
    data={selectedAccount}
    action="edit"
    bind:submitAddEditAccount
    on:done={() => {
      showEditAccountModal = false;
    }}
  />
</Modal>

<Modal
  title="Delete Account"
  okText="Delete"
  isOpen={showDeleteAccountModal}
  on:close={() => (showDeleteAccountModal = false)}
  on:ok={submitDeleteAccount}
>
  <DeleteAccount
    email={selectedAccount}
    bind:submitDeleteAccount
    on:done={() => {
      showDeleteAccountModal = false;
    }}
  />
</Modal>
