<script lang="ts">
  import { addUpdateAPIKey, fetchAPIKey } from '$lib/services/api-keys';
  import { userSession } from '$lib/stores/auth';
  import { showSpinner } from '$lib/stores/spinner';
  import type { APIKey, APIKeyList } from '$lib/types/api-key';
  import { isNotEmpty } from '$lib/utils/validation';
  import { createEventDispatcher, onMount } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let action: 'add' | 'edit' = 'add';
  export let data: APIKeyList | null = null;

  let key: APIKey = {
    Active: 1,
    DisplayName: ''
  };

  let message: string = '';
  let activeChecked: boolean = Boolean(key.Active);
  let showSecret: boolean = false;
  let submitted: boolean = false;

  $: {
    key.Active = activeChecked ? 1 : 0;
  }

  $: validation = {
    isDisplayNameValid: isNotEmpty(key.DisplayName)
  };

  onMount(async () => {
    if (action === 'edit' && data) {
      $showSpinner = true;
      const { Error, ApiKey } = await fetchAPIKey($userSession!.ID, data.ApiKeyName);
      if (!Error) {
        key = {
          Active: ApiKey.Active,
          DisplayName: ApiKey.DisplayName,
          ApiKeyName: ApiKey.ApiKeyName,
          ApiKey_ID: ApiKey.ApiKey_ID
        };
        activeChecked = Boolean(ApiKey.Active);
      }
      $showSpinner = false;
    }
  });

  export const submitAddEditKey = async () => {
    message = '';
    submitted = true;

    // validation
    const valid = Object.values(validation).every(Boolean);
    if (!valid) {
      message = 'Please correct all the errors marked in red';
      return;
    }

    $showSpinner = true;
    const { Error } = await addUpdateAPIKey($userSession!.ID, key);
    if (Error) {
      message = Error;
    } else {
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<div class="text-gray-800">
  <div class="form-group">
    <div class="label">API Key Name</div>
    <div class="form-item">
      <input
        class:border-red-500={!validation.isDisplayNameValid && submitted}
        type="text"
        placeholder="Please enter a name for this key"
        bind:value={key.DisplayName}
      />
      {#if !validation.isDisplayNameValid && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          API Key name is required
        </span>
      {/if}
    </div>
  </div>

  {#if action === 'edit'}
    <div class="form-group">
      <div class="label">API Key ID</div>
      <div class="form-item">
        <input type="text" bind:value={key.ApiKeyName} disabled />
      </div>
    </div>

    <div class="form-group">
      <div class="label">API Key Secret</div>
      <div class="form-item">
        <div class="relative flex w-full items-center">
          {#if showSecret}
            <input type="text" bind:value={key.ApiKey_ID} disabled />
            <svg
              on:click={() => (showSecret = false)}
              class="absolute right-2 h-4 w-4 cursor-pointer"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.707 2.293a1 1 0 0 0-1.414 1.414l14 14a1 1 0 0 0 1.414-1.414l-1.473-1.473A10.014 10.014 0 0 0 19.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 0 0-4.512 1.074l-1.78-1.781zm4.261 4.26 1.514 1.515a2.003 2.003 0 0 1 2.45 2.45l1.514 1.514a4 4 0 0 0-5.478-5.478z"
                clip-rule="evenodd"
              /><path
                d="M12.454 16.697 9.75 13.992a4 4 0 0 1-3.742-3.741L2.335 6.578A9.98 9.98 0 0 0 .458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z"
              />
            </svg>
          {:else}
            <input type="password" bind:value={key.ApiKey_ID} disabled />
            <svg
              on:click={() => (showSecret = true)}
              class="absolute right-2 h-4 w-4 cursor-pointer"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path d="M10 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
              <path
                fill-rule="evenodd"
                d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"
                clip-rule="evenodd"
              />
            </svg>
          {/if}
        </div>
      </div>
    </div>
  {/if}

  <div class="form-group">
    <div class="label">Active</div>
    <input type="checkbox" bind:checked={activeChecked} />
  </div>
</div>
