<script lang="ts">
  import { addUpdateAccount } from '$lib/services/accounts';
  import { userSession } from '$lib/stores/auth';
  import { showSpinner } from '$lib/stores/spinner';
  import { api } from '$lib/utils/api';
  import { isEmail, isNotEmpty } from '$lib/utils/validation';
  import { createEventDispatcher, onMount } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let action: 'add' | 'edit' = 'add';
  export let data: string = '';

  let timer: any;
  let message: string = '';
  let showPassword: boolean = false;
  let submitted: boolean = false;
  let passwordPwned = false;

  let account = {
    email: '',
    password: ''
  };

  $: validation = {
    isEmailValid: isNotEmpty(account.email) && isEmail(account.email),
    isPasswordNotEmpty: isNotEmpty(account.password),
    isPasswordNotPwned: !passwordPwned
  };

  onMount(() => {
    if (action === 'edit' && data) {
      account = {
        email: data,
        password: ''
      };
    }
  });

  const debouncePassword = (e: Event) => {
    clearTimeout(timer);
    timer = setTimeout(async () => {
      const target = e.target as HTMLInputElement;
      account.password = target.value;
      if (target.value) {
        const data = await api('POST', '/erad/public/check_password', { password: target.value });
        passwordPwned = Boolean(data.pwned);
      } else {
        passwordPwned = false;
      }
    }, 400);
  };

  export const submitAddEditAccount = async () => {
    message = '';
    submitted = true;

    // validation
    const valid = Object.values(validation).every(Boolean);
    if (!valid) {
      message = 'Please correct all the errors marked in red';
      return;
    }

    $showSpinner = true;
    const { Error } = await addUpdateAccount($userSession!.ID, account);
    if (Error) {
      message = Error;
    } else {
      dispatch('done');
    }

    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<div class="text-gray-800">
  <div class="form-group">
    <div class="label">Email</div>
    <div class="form-item">
      <input
        type="email"
        placeholder="Please enter an email address"
        bind:value={account.email}
        disabled={action === 'edit'}
      />
      {#if !validation.isEmailValid && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          A valid email is required
        </span>
      {/if}
    </div>
  </div>

  <div class="form-group">
    <div class="label">Password</div>
    <div class="form-item">
      <div class="relative flex w-full items-center">
        {#if showPassword}
          <input type="text" placeholder="Please enter a password" on:input={debouncePassword} />
          <svg
            on:click={() => (showPassword = false)}
            class="absolute right-2 h-4 w-4 cursor-pointer"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3.707 2.293a1 1 0 0 0-1.414 1.414l14 14a1 1 0 0 0 1.414-1.414l-1.473-1.473A10.014 10.014 0 0 0 19.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 0 0-4.512 1.074l-1.78-1.781zm4.261 4.26 1.514 1.515a2.003 2.003 0 0 1 2.45 2.45l1.514 1.514a4 4 0 0 0-5.478-5.478z"
              clip-rule="evenodd"
            /><path
              d="M12.454 16.697 9.75 13.992a4 4 0 0 1-3.742-3.741L2.335 6.578A9.98 9.98 0 0 0 .458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z"
            />
          </svg>
        {:else}
          <input
            type="password"
            placeholder="Please enter a password"
            on:input={debouncePassword}
          />
          <svg
            on:click={() => (showPassword = true)}
            class="absolute right-2 h-4 w-4 cursor-pointer"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path d="M10 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
            <path
              fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"
              clip-rule="evenodd"
            />
          </svg>
        {/if}
      </div>
      {#if !validation.isPasswordNotEmpty && submitted}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          Password is required
        </span>
      {:else if !validation.isPasswordNotPwned}
        <span class="mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          That password was found in a public list of previously compromised passwords. Please
          choose a different password.
        </span>
      {/if}
    </div>
  </div>
</div>
