<script lang="ts">
  import { apikeys } from '$lib/stores/api-keys';
  import type { APIKeyList } from '$lib/types/api-key';
  import Card from '../Card.svelte';
  import Modal from '../Modal.svelte';
  import AddEditKey from './AddEditKey.svelte';
  import DeleteKey from './DeleteKey.svelte';

  let showAddKeyModal: boolean = false;
  let showEditKeyModal: boolean = false;
  let showDeleteKeyModal: boolean = false;
  let submitAddEditKey: () => Promise<void>;
  let submitDeleteKey: () => Promise<void>;

  let selectedKey: APIKeyList;

  function onEdit(key: APIKeyList) {
    selectedKey = key;
    showEditKeyModal = true;
  }

  function onDelete(key: APIKeyList) {
    selectedKey = key;
    showDeleteKeyModal = true;
  }
</script>

<Card>
  <div slot="head">
    <div class="font-bold leading-9 text-gray-700">API Keys</div>
  </div>
  <div slot="body">
    {#each $apikeys as key (key.ApiKeyName)}
      <div class="flex items-center justify-between border-b border-gray-200 px-4 py-2.5">
        <div class="text-lg font-bold leading-[30px] text-gray-700">{key.DisplayName}</div>
        <div class="flex items-center space-x-2 text-sm text-primary text-opacity-80">
          <button class="hover:underline" on:click={() => onDelete(key)}>Remove</button>
          <span class="text-gray-400">|</span>
          <button class="hover:underline" on:click={() => onEdit(key)}>Edit</button>
        </div>
      </div>
    {/each}
    <div class="flex items-center justify-between border-b border-gray-200 px-4 py-2.5">
      <div class="text-sm leading-[30px] text-gray-700">Add new key</div>
      <button on:click={() => (showAddKeyModal = true)}>
        <svg
          class="h-7 w-7 text-green-600 hover:text-green-700"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11a1 1 0 1 0-2 0v2H7a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2V7z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</Card>

<Modal
  title="Add API Key"
  okText="Add"
  isOpen={showAddKeyModal}
  on:close={() => (showAddKeyModal = false)}
  on:ok={submitAddEditKey}
>
  <AddEditKey
    action="add"
    bind:submitAddEditKey
    on:done={() => {
      showAddKeyModal = false;
    }}
  />
</Modal>

<Modal
  title="Edit API Key"
  okText="Update"
  isOpen={showEditKeyModal}
  on:close={() => (showEditKeyModal = false)}
  on:ok={submitAddEditKey}
>
  <AddEditKey
    data={selectedKey}
    action="edit"
    bind:submitAddEditKey
    on:done={() => {
      showEditKeyModal = false;
    }}
  />
</Modal>

<Modal
  title="Delete API Key"
  okText="Delete"
  isOpen={showDeleteKeyModal}
  on:close={() => (showDeleteKeyModal = false)}
  on:ok={submitDeleteKey}
>
  <DeleteKey
    data={selectedKey}
    bind:submitDeleteKey
    on:done={() => {
      showDeleteKeyModal = false;
    }}
  />
</Modal>
