<script lang="ts">
  import { deleteAccount } from '$lib/services/accounts';
  import { userSession } from '$lib/stores/auth';
  import { showSpinner } from '$lib/stores/spinner';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let email: string;
  let message = '';

  export const submitDeleteAccount = async () => {
    $showSpinner = true;
    const { Error } = await deleteAccount($userSession!.ID, email);
    if (Error) {
      message = Error;
    } else {
      message = '';
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<p class="text-sm text-gray-800">
  Are you sure you want to remove the account associated with the email address "{email}"?
</p>
<p class="text-sm text-gray-800">This action is not recoverable.</p>
