<script lang="ts">
  import { deleteAPIKey } from '$lib/services/api-keys';
  import { userSession } from '$lib/stores/auth';
  import { showSpinner } from '$lib/stores/spinner';
  import type { APIKeyList } from '$lib/types/api-key';
  import { createEventDispatcher } from 'svelte';
  import Alert from '../Alert.svelte';

  const dispatch = createEventDispatcher();

  export let data: APIKeyList;
  let message = '';

  export const submitDeleteKey = async () => {
    $showSpinner = true;
    const { Error } = await deleteAPIKey($userSession!.ID, data.ApiKeyName);
    if (Error) {
      message = Error;
    } else {
      message = '';
      dispatch('done');
    }
    $showSpinner = false;
  };
</script>

<Alert type="danger" {message} on:click={() => (message = '')} />
<p class="text-sm text-gray-800">
  Are you sure you want to delete the API Key <strong>{data.DisplayName}</strong>?
</p>
<p class="text-sm text-gray-800">This action is not recoverable.</p>
