<div class="row" ng-include src="'panel-header.html'"></div>

<div class="row">
  <div class="col-md-12">

    <div id="admin-page" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="panel-title pull-left col-lg-8 col-md-10 col-sm-10 col-xs-12">
            <span class="property-name">Admin</span>
          </div>
          <div class="pull-right col-xs-12 col-sm-2 col-md-2">
            <button type="button" class="btn btn-primary btn-block" ui-sref="users" href="#/users">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Go back
          </button>
          </div>
        </div>
      </div>
    </div>

    <div id="adminKeys" class="panel panel-default">
     <div class="panel-heading">
        <div class="row">
          <div class="panel-title col-xs-7 col-sm-9 col-md-10">
            <span class="property-name">API Keys</span>
          </div>
        </div>
      </div>
      <ul class="panel-body list-group group-select">
        <li class="list-group-item" ng-repeat="key in vm.keys">
          <div class="row">
            <div class="col-sm-5">
              <span class="pull-left group-name" ng-bind="key.DisplayName"></span>
            </div>
            <div class="col-sm-7 group-actions">
              <div class="pull-right">
                <a data-title="RemoveSite" ng-click="vm.openRemoveModal(key.ApiKeyName, 'keys')">Remove</a>
                <span>&nbsp;|&nbsp;</span>
                <a data-title="SelectSite" ng-click="vm.openEditModal(key.ApiKeyName, 'keys')">Edit</a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item control-row">
          <div class="row">
            <div class="col-sm-5">
              <span class="pull-left">Add new key</span>
            </div>
            <div class="col-sm-7">
              <div class="pull-right">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="vm.openAddModal('keys')"></span>
                <!-- <button type="button" class="btn btn-success btn-block" ng-click="vm.openAddModal('keys')"> -->
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="adminAccounts" class="panel panel-default">
     <div class="panel-heading">
        <div class="row">
          <div class="panel-title col-xs-7 col-sm-9 col-md-10">
            <span class="property-name">Accounts</span>
          </div>
        </div>
      </div>
      <ul class="panel-body list-group group-select">

        <li class="list-group-item" ng-repeat="account in vm.accounts">
          <div class="row">
            <div class="col-sm-5">
              <span class="pull-left group-name" ng-bind="account"></span>
            </div>
            <div class="col-sm-7 group-actions">
              <div class="pull-right">
                <a data-title="RemoveSite" ng-click="vm.openRemoveModal(account, 'account')" ng-if="account !== vm.AppModel.adminUsername">Remove</a>
                <span ng-if="account !== vm.AppModel.adminUsername">&nbsp;|&nbsp;</span>
                <a data-title="SelectSite" ng-click="vm.openEditModal(account, 'account')">Edit</a>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item control-row">
          <div class="row">
            <div class="col-sm-5">
              <span class="pull-left">Add new account</span>
            </div>
            <div class="col-sm-7 group-actions">
              <div class="pull-right">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="vm.openAddModal('account')">
                </span>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>
