<div class="row modal-row connection-info">
	<div class="col-sm-8 col-sm-offset-1 col-xs-12">

<pre ng-if="connection">
<strong>Connection Info</strong>
RADIUS IP: {{ connection.IpAddress }}
RADIUS Port: {{ connection.Port }}
Secret Key: {{ connection.Secret }}
Server Region: {{ connection.Region }}
</pre>

<pre ng-if="!connection">
<strong>Connection Info</strong>
Connection info is not available right now, please click <a ng-click="retryLoad()">here</a>&nbsp;to try again.
</pre>

    </div>
</div>
