<div class="btn-group dropdown-subclass" dropdown ng-class="{ 'disabled': isDisabled}">

  <a dropdown-toggle ng-class="{ 'disabled': isDisabled }">
    <span type="button" ng-bind="ngModel.title"></span>
    <div class="toggle-button"><b></b></div>
  </a>

  <ul class="dropdown-menu" role="menu">
    <li
      ng-repeat="item in items"
      ng-click="selectItem(item)"
      ng-class="{'highlight': addHover}"
      ng-mouseenter="addHover = true"
      ng-mouseleave="addHover = false">
      {{ item.title }}
    </li>
  </ul>

</div>
