<div class="modal-popup" >
   <div class="modal-header" >
      <h4 ng-show="!message.title" class="modal-title">Unknown Error</h4>
      <h4 ng-show="message.title" class="modal-title">{{ message.title }}</h4>
      <a class="btn" ng-click="$close()" style="position:absolute; top:0; right:0;"><i class="fa fa-close fa-lg"></i></a>
   </div>

   <div class="modal-body">
      <div class="modal-container">
         <p style="margin-top: 0;" ng-show="!message.body">We are sorry for the inconvenience, an unknown error occurred. Please try again.</p>
         <p style="margin-top: 0;" ng-show="message.body">{{message.body}}</p>
      </div><!-- End modal-container -->
   </div><!-- End modal-body -->
</div>

