<div class="col-md-12" ng-controller="PanelHeaderCtrl as vm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">

        <div class="panel-title col-xs-12 col-sm-6">
          <span class="property-name" ng-bind="vm.AppModel.selectedGroupName || 'No Name'"></span>
          <span class="group-id" ng-bind="vm.AppModel.selectedGroup || 'No ID'"></span>
          <span class="edit-property link" ng-click="vm.updateGroup()">Edit Config</span>
          <span class="devices-count" ng-bind="'Unique devices: ' + vm.AppModel.uniqueDevicesCount"></span>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="panel-title-button col-xs-12 col-sm-4 pull-right multiple-button-spacing" ng-if="vm.AppModel.groupIDList.length > 1">
              <button type="button" class="btn btn-primary btn-block" ui-sref="groups">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Change Site
              </button>
            </div>

            <div class="panel-title-button col-xs-12 col-sm-4 pull-right multiple-button-spacing" ng-if="vm.AppModel.isAccountOwner === 1">
              <button type="button" class="btn btn-primary btn-block" ng-click="vm.addGroup()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Site
              </button>
            </div>

            <div class="panel-title col-xs-12 col-sm-4 text-center pull-right"
                 ng-if="vm.AppModel.highCapacityProvisioned">
              <strong>High Capacity</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row panel-alert" ng-if="vm.AppModel.highCapacityProvisioned === false">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Warning! This site has not been configured for High Capacity service. Only 20 concurrent devices are supported
        with the standard service.
        <a href="https://eleven.zendesk.com/hc/en-us/articles/360039300571" target="_blank">Click here to Upgrade</a>
      </div>
    </div>
  </div>
</div>
