<div class="modal-popup" >

  <div class="modal-header">
       <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
  </div>

  <div class="modal-body">

    <form class="form-horizontal" role="form" name="userForm">

      <div class="authenticatorErrors" ng-if="validationError">
          <div class="alert alert-{{ validationError.type }}" role="alert">
              <button type="button" class="close" ng-click="dismissAlert($index)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <i class="fa fa-exclamation-circle"></i>
              {{ validationError.msg }}
          </div>
      </div>

      <div class="form-group ">
        <div class="col-sm-5 col-xs-12">
          <label class="control-label">Remote Authentication</label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="btn-group">
            <button type="button" class="btn btn-default" name="UseRemote" ng-model="user.UseRemote" btn-radio="true" value="true">Enabled</button>
            <button type="button" class="btn btn-default" name="UseRemote" ng-model="user.UseRemote" btn-radio="false">Disabled</button>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="!user.UseRemote">
        <div class="col-sm-5 col-xs-12">
          <label class="control-label">Authentication Type</label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="btn-group">
            <button type="button" class="btn btn-default" name="userAuth" ng-model="userAuth" btn-radio="true" value="true">Device Auth</button>
            <button type="button" class="btn btn-default" name="userAuth" ng-model="userAuth" btn-radio="false" value="false">MAC Auth</button>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="user.UseRemote || userAuth">
        <div class="col-sm-5 col-xs-12">
          <label for="inputUserName" class="control-label">Username</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputUserName"
                 name="username"
                 ng-model="user.Username"
                 ng-required="userAuth"
                 valid-user
                 high-capacity-required>
          <div class="error-container" ng-if="submitted && userForm.username.$invalid">
            <span class="help-inline" ng-if="userForm.username.$error.required">
              <i class="fa fa-exclamation-circle"></i> Username is required
            </span>
            <span class="help-inline" ng-if="userForm.username.$error.validUser">
              <i class="fa fa-exclamation-circle"></i> Username is already registered
            </span>
          </div>
          <div class="error-container" ng-if="view.usernameError">
            <span class="help-inline">
              <i class="fa fa-exclamation-circle"></i> {{ view.usernameError }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="!user.UseRemote && userAuth">
        <div class="col-sm-5 col-xs-12">
          <label for="inputPassword" class="control-label">Password</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputPassword"
                 name="password"
                 ng-model="user.Password"
                 ng-required="userAuth && !user.UseRemote"
                 ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                 no-weak-passwords
                 allow-weak-submit="true">
          <div class="error-container" ng-if="submitted && userForm.password.$invalid">
            <span class="help-inline" ng-if="userForm.password.$error.required">
              <i class="fa fa-exclamation-circle"></i> Password is required
            </span>
          </div>
          <div class="error-container" ng-if="view.passwordError">
            <span class="help-inline">
              <i class="fa fa-exclamation-circle"></i>&nbsp;{{ view.passwordError }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group"  ng-show="!userAuth && !user.UseRemote">
        <div class="col-sm-5 col-xs-12">
          <label for="inputMacAddress" class="control-label">MAC Address</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="mac-wrapper">
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress0"
             ng-model="user.Mac[0]"
             ng-required="!userAuth"
             placeholder="FF*"
             ng-class="{'mac-error' : userForm.macAddress0.$error.validHex }"
             valid-hex
             maxlength="2" move-next-on-maxlength
             ng-paste='handlePaste($event)'>
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress1"
             ng-model="user.Mac[1]"
             ng-required="!userAuth"
             placeholder="FF*"
             ng-class="{'mac-error' : (userForm.macAddress1.$error.validHex) }"
             valid-hex
             maxlength="2" move-next-on-maxlength>
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress2"
             ng-model="user.Mac[2]"
             ng-required="!userAuth"
             placeholder="FF*"
             ng-class="{'mac-error' : (userForm.macAddress2.$error.validHex) }"
             valid-hex
             maxlength="2" move-next-on-maxlength>
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress3"
             ng-model="user.Mac[3]"
             ng-required="!userAuth && user.Mac[4] || user.Mac[5]"
             placeholder="FF"
             ng-class="{
              'mac-error' : userForm.macAddress3.$error.validWildcard
                || (userForm.$dirty && userForm.macAddress3.$error.required)
              }"
             valid-wildcard
             maxlength="2" move-next-on-maxlength
            >
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress4"
             ng-model="user.Mac[4]"
             ng-required="!userAuth && user.Mac[5]"
             placeholder="FF"
             ng-class="{
              'mac-error' : (userForm.macAddress4.$error.validWildcard)
                || (userForm.$dirty && userForm.macAddress4.$error.required)
              }"
             valid-wildcard
             maxlength="2" move-next-on-maxlength
            >
            <input type="text"
             class="form-control"
             id="inputMacAddress"
             name="macAddress5"
             ng-model="user.Mac[5]"
             placeholder="FF"
             ng-class="{'mac-error' : (userForm.macAddress5.$error.validWildcard) }"
             valid-wildcard
            >
          </div>

          <div class="help-container">
            <span class="help-inline">
              * Mandatory field
            </span>
          </div>

          <div class="error-container" ng-if="submitted && userForm.macAddress.$error">
            <span class="help-inline"
                  ng-show="submitted && (userForm.macAddress.$error | firstValidKey) == 'required'">
              <i class="fa fa-exclamation-circle"></i> MAC Address is required
            </span>
            <span class="help-inline"
                  ng-show="submitted && (userForm.macAddress.$error | firstValidKey) == 'validMac'">
              <i class="fa fa-exclamation-circle"></i> Must be valid MAC Address
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-xs-12">
          <label for="inputVlan" class="control-label">VLAN</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputVlan"
                 name="vlan"
                 ng-model="user.Vlan"
                 maxlength="4"
                 ng-trim="false">
          <div class="error-container" ng-if="submitted && userForm.vlan.$invalid">
            <span class="help-inline">
              <i class="fa fa-exclamation-circle"></i> VLAN is required
            </span>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group dl-slider">
          <div class="col-sm-12 col-xs-12 dl-slider-label">
              <label class="control-label">Max Download Speed</label>
          </div>
          <div class="col-sm-12 col-xs-12">
              <rzslider
                  rz-slider-model="sliderDl.value"
                  rz-slider-options="sliderDl.options">
              </rzslider>
          </div>
      </div>

      <div class="form-group dl-slider">
          <div class="col-sm-12 col-xs-12 dl-slider-label">
              <label class="control-label">Max Upload Speed</label>
          </div>
          <div class="col-sm-12 col-xs-12">
              <rzslider
                  rz-slider-model="sliderUl.value"
                  rz-slider-options="sliderUl.options">
              </rzslider>
          </div>
      </div>
      <div>
        <span class="glyphicon glyphicon-exclamation-sign text-info" aria-hidden="true"></span>
        <span>Speed settings defined for device will override values defined in site configuration.</span>
      </div>
      <hr><!-- Break -->

      <div class="form-group">
        <div class="col-sm-5 col-xs-12">
          <label for="inputdDeviceName" class="control-label">Device Expiration </label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="btn-group">
            <button type="button" class="btn btn-default" name="expiration" ng-model="Expiration.Enabled" btn-radio="true" value="true">Enabled</button>
            <button type="button" class="btn btn-default" name="expiration" ng-model="Expiration.Enabled" btn-radio="false">Disabled</button>
          </div>
        </div>
      </div>

      <div class="form-group well"  ng-show="Expiration.Enabled" style="text-align:center;">
        <div class="col-sm-4 col-xs-12" style="padding: 0;">
          <label for="inputdDeviceName" class="control-label" style="line-height: 80px;">Expiration Date ({{Expiration.TzShortname}})</label>
        </div>
        <div class="col-sm-8 col-xs-12" style="padding: 0;">
          <datetimepicker
            ng-model="Expiration.Date"
            show-meridian="true"
            date-format="MM/dd/yyyy"
            date-options="dateOptions"
            readonly-time="false">
          </datetimepicker>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-xs-12">
          <label for="inputdDeviceName" class="control-label">Device Name</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputdDeviceName"
                 name="deviceName"
                 ng-model="user.DeviceName"
                 maxlength="70">
          <div class="error-container" ng-if="view.deviceNameError">
            <span class="help-inline">
              <i class="fa fa-exclamation-circle"></i> {{ view.deviceNameError }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-xs-12">
          <label for="inputdDeviceName" class="control-label">Description</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputdDeviceName"
                 name="deviceName"
                 ng-model="user.Description"
                 maxlength="40">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-xs-12">
          <label for="inputdDeviceName" class="control-label">Location</label>
        </div>
        <div class="col-sm-7 col-xs-12">
          <input type="text"
                 class="form-control"
                 id="inputdDeviceName"
                 name="deviceName"
                 ng-model="user.Location"
                 maxlength="20">
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
      <a id="closeModal" class="btn" ng-click="close()">Close</a>

      <a id="btnCreateUser" class="btn btn-primary" ng-click="createUser(userForm, user)" ng-show="ModalMode == 'create'">Create</a>
      <a id="btnUpdateUser" class="btn btn-primary" ng-click="updateUser(userForm, user)" ng-show="ModalMode == 'update'">Update</a>

  </div>

</div>
