<div class="modal-popup" >

    <div class="modal-header">
         <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
    </div>

    <div class="modal-body">
		<form class="form-horizontal delete-form" role="form" name="deleteForm">
			<p>Are you sure you want to delete <span ng-bind="user.Username"></span>?</p>
		</form>
	</div>

    <div class="modal-footer">
        <a id="closeModal" class="btn" ng-click="close()">Close</a>
        <a id="btnDeleteUser" class="btn btn-primary" ng-click="deleteUser(user.Username)">Delete</a>
    </div>

</div>
