<div class="modal-popup" >

    <div class="modal-header">
         <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
    </div>

	<div class="modal-body">

	  <form class="form-horizontal" role="form" name="userForm">
	    <p style="margin-bottom:10px;">You can import devices into this Site using the button below. Make sure your data matches the import format <a href="http://help.enterpriseauth.com/#export" target="_blank">here</a>.</p>

	    <div style="position:relative; margin:25px 0;" >
	      <input type="file" file-model="myFile" >
	    </div>

	    <a class="btn btn-primary"  ng-click="uploadFile(myFile)">Upload</a>

	  </form>

	</div><!-- End modal-body -->

    <div class="modal-footer">
        <a id="closeModal" class="btn" ng-click="close()">Close</a>

    </div>

</div>
