---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">
    Subscribe via RSS:</br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.xml" | prepend: site.baseurl }}">All Releases</a></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.major.xml" | prepend: site.baseurl }}">Major Releases Only</a></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.minor.xml" | prepend: site.baseurl }}">Minor Releases Only</a></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.patch.xml" | prepend: site.baseurl }}">Patch Releases Only</a></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.maintenance.xml" | prepend: site.baseurl }}">Maintenance Releases Only</a></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/feed.notice.xml" | prepend: site.baseurl }}">Notices Only</a>
  </p>

  <p class="rss-subscribe">
    Or receive email updates <a href="http://blogtrottr.com/?subscribe=http://notes.enterpriseauth.com">via Blogtrotter</a>.
  </p>

</div>
