<div class="modal-popup" >

    <div class="modal-header">
       <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" name="groupAddForm">
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputNewGroupName" class="control-label">Site Name</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                        class="form-control"
                        id="inputNewGroupName"
                        name="newgroupname"
                        ng-model="newGroup.Name"
                        required>
                    <div class="error-container" ng-show="submitted && groupAddForm.newgroupname.$error.required">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i>&nbsp;Site Name is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputNewGroupName" class="control-label">Site ID</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                        class="form-control"
                        id="inputNewGroupId"
                        name="newgroupid"
                        ng-model="newGroup.Id"
                        required>
                    <div class="error-container" ng-show="submitted && groupAddForm.newgroupid.$error.required">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i>&nbsp;Site ID is required
                        </span>
                    </div>
                </div>
            </div>
            <div id="timezone-select" class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputNewGroupName" class="control-label">Timezone</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <timezone-selector ng-model="newGroup.timezone" width="100%"></timezone-selector>
                    <div class="error-container" ng-show="submitted && groupAddForm.newgrouptimezone.$error.required">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i>&nbsp;Site timezone is required
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a id="closeModal" class="btn" ng-click="close()">Close</a>

        <a id="btnCreateGroup" class="btn btn-primary" ng-click="addGroup(groupAddForm)">Add</a>

    </div>

</div>
