<div class="modal-popup" >
    <div class="modal-header">
         <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
    </div>
    <div class="modal-body">
		<form class="form-horizontal delete-form" role="form" name="deleteForm">
			<p>Are you sure you want to delete endpoint <span ng-bind="view.Endpoint"></span>?</p>
		</form>
	</div>
    <div class="modal-footer">
        <a id="closeModal" class="btn" ng-click="close()">Close</a>
        <a id="btnConfirmDelete" class="btn btn-primary" ng-click="confirm_delete_action()">Delete</a>
    </div>
</div>
