<div class="modal-popup">

    <div class="modal-header">
         <h4 class="modal-title" ng-bind="title" style="font-weight:bold;"></h4>
    </div>

	<div class="modal-body">
	    <p>Are you sure you want to delete the site&nbsp;<span ng-bind="name"></span>?</p>
	    <p> This will also remove all devices attached to the site.</p>
	</div>

    <div class="modal-footer">
        <a class="btn" ng-click="close()">Close</a>
        <a class="btn btn-primary" ng-click="removeGroup()">Remove</a>
    </div>

</div>
