<div class="modal-popup" >

    <div class="modal-header">
       <h4 class="modal-title" ng-bind="view.Title" style="font-weight:bold;"></h4>
    </div>

    <div class="modal-body">
        <!-- 'form-horizontal' desn't need 'row' class but acts as one -->
        <form class="form-horizontal" name="groupForm">
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputGroupName" class="control-label">Site Name</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                        class="form-control"
                        id="inputGroupName"
                        name="groupname"
                        ng-model="group.Name"
                        ng-disabled="!siteNameEditable">
                    <div class="error-container" ng-if="submitted && groupForm.groupname.$invalid">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i>&nbsp;Site Name is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputGroupId" class="control-label">Site ID</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                        class="form-control"
                        id="inputGroupId"
                        name="groupid"
                        ng-model="group.ID"
                        disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputGroupTimezone" class="control-label">Timezone</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <timezone-selector ng-model="timezone" width="100%" ng-disabled="!formEditable"></timezone-selector>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <label for="remoteAuthentication" class="control-label">Remote Authentication</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <dropdown ng-model="item" items="items" callback="selectItemCallback"></dropdown>
                </div>
            </div>
            <div class="form-group" ng-if="view.showInputs">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputRemoteServerIp" class="control-label">Remote Server IP</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                     class="form-control"
                     id="inputRemoteServerIp"
                     name="remoteserverip"
                     ng-model="view.RemoteServerIp"
                     ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/'
                     ng-class="{'has-error' : ( !groupForm.remoteserverip || groupForm.$error.validIp) && submitted}"
                     ng-required="view.showInputs"
                     valid-ip>
                    <div class="error-container" ng-if="submitted && groupForm.remoteserverip.$error">
                        <span class="help-inline"
                               ng-show="submitted && (groupForm.remoteserverip.$error | firstValidKey) == 'required' ">
                            <i class="fa fa-exclamation-circle"></i> Remote Server IP is required
                         </span>
                         <span class="help-inline"
                                ng-show="submitted && (groupForm.remoteserverip.$error | firstValidKey) == 'validIp'">
                            <i class="fa fa-exclamation-circle"></i> Must be a valid IP Address
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="view.showInputs">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputRemoteServerPort" class="control-label">Remote Server Port</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                                 class="form-control"
                                 id="inputRemoteServerPort"
                                 name="remoteserverport"
                                 ng-model="view.RemoteServerPort"
                                 ng-required="view.showInputs"
                                 only-digits>
                    <div class="error-container" ng-if="submitted && groupForm.remoteserverport.$invalid">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i> Remote Server Port is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="view.showInputs">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputSharedSecret" class="control-label">Shared Secret </label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <input type="text"
                        class="form-control"
                        id="inputSharedSecret"
                        name="sharedsecret"
                        ng-model="view.SharedSecret"
                        required>
                    <div class="error-container" ng-if="submitted && groupForm.sharedsecret.$invalid">
                        <span class="help-inline">
                            <i class="fa fa-exclamation-circle"></i> Shared Secret is required
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="view.showOverrides">
                <div class="col-sm-5 col-xs-12">
                    <label for="inputSharedSecret" class="control-label">Use Remote Server Settings</label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <label><input type="checkbox" ng-model="view.OverrideVlan"> VLAN</label>

                </div>
                <div class="col-sm-5 col-xs-12">
                    <label for="inputSharedSecret" class="control-label"></label>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <label><input type="checkbox" ng-model="view.OverrideConnectionSpeed"> Upload and Download Speed</label>
                </div>
            </div>


            <div class="col-sm-7 col-sm-offset-5 col-xs-12" ng-if="view.showInputs">
                <p>Please allow 5 minutes for changes to take effect.</p>
            </div>

            <hr/>
            <h5>Default site settings</h5>
            <div class="form-group dl-slider">
                <div class="col-sm-12 col-xs-12 dl-slider-label">
                    <label class="control-label">Max Download Speed</label>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <rzslider
                        rz-slider-model="sliderDl.value"
                        rz-slider-options="sliderDl.options">
                    </rzslider>
                </div>
            </div>

            <div class="form-group dl-slider">
                <div class="col-sm-12 col-xs-12 dl-slider-label">
                    <label class="control-label">Max Upload Speed</label>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <rzslider
                        rz-slider-model="sliderUl.value"
                        rz-slider-options="sliderUl.options">
                    </rzslider>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <div class="col-sm-12 col-xs-12">
                    <label class="control-label">Devices</label>

                    <p ng-if="data.length">Criteria for matching network devices to this site. Any of the following will trigger a match:</p>
                    <p ng-if="!data.length">There are currently no devices associated with this site.</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <div id="devicelist-table" class="table-responsive">
                        <div class="authenticatorErrors" ng-if="xhrError">
                            <div class="alert alert-{{ xhrError.type }}" role="alert">
                                <button type="button" class="close" ng-click="dismissAlert($index)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="fa fa-exclamation-circle"></i>
                                {{ xhrError.msg }}
                            </div>
                        </div>

                        <table ng-table="tableParams" class="table table-bordered table-hover table-condensed" name="tableForm" ng-form="tableForm" disable-filter="isAdding" ng-class="{'locked' : !formEditable }">
                            <colgroup ng-if="formEditable">
                                <col width="40%" />
                                <col width="40%" />
                                <col width="20%" />
                            </colgroup>

                            <tr ng-repeat="item in $data" ng-form="rowForm">

                                <td data-title="'Type'" sortable="'key'">
                                    {{item.key}}
                                </td>

                                <td title="'ID'" sortable="'val'" ng-switch="item.isEditing" ng-class="val.$dirty ? 'bg-warning' : ''" ng-form="val">
                                    <span ng-switch-default>{{ item.val }}</span>
                                    <div class="controls" ng-class="val.$invalid && val.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                        <input type="text" name="val" ng-model="item.val" class="form-control input-sm" required/>
                                    </div>
                                </td>

                                <td ng-if="formEditable">
                                    <button class="btn btn-primary btn-sm" ng-click="updateAuthenticator(item, rowForm, $index)" ng-if="item.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button class="btn btn-default btn-sm" ng-click="cancelEditAuthenticators(item, rowForm, $index)" ng-if="item.isEditing">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button class="btn btn-default btn-sm" ng-click="item.isEditing = true" ng-if="!item.isEditing" >
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger btn-sm" ng-click="delAuthenticators(item, $index)" ng-if="!item.isEditing">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-form="addRowForm" ng-if="formEditable">
                                <td>
                                    <dropdown ng-model="authType" items="authTypes" callback="authCallback" required></dropdown>
                                </td>
                                <td>
                                    <input type="text" name="authId" ng-model="newVal.val" class="form-control" placeholder="{{ authType.placeholder }}" ng-class="{'has-error' : addRowForm.$error }" ng-if="authType.title === 'called-station-id'" valid-mac />
                                    <input type="text" name="authId" ng-model="newVal.val" class="form-control" placeholder="{{ authType.placeholder }}" ng-class="{'has-error' : addRowForm.$error }" ng-if="authType.title === 'nas-identifier'" />
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm" ng-click="addAuthenticator(addRowForm, newVal)" ng-disabled="addRowForm.$pristine">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="btn btn-default btn-sm" ng-click="clearRow(addRowForm)" ng-disabled="!addRowForm.$dirty">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 col-xs-12">
                    <label class="control-label">Port Provisioning</label>

                    <p ng-if="AppModel.selectedGroup !== ('Global' || 'global')">Provision a unique RADIUS port for this site (limit 2). By default, sites use a shared global port. Provisioning a unique port will replace the global port. De-provisioning all ports will revert the site back to the global port.</p>

                    <p ng-if="AppModel.selectedGroup === ('Global' || 'global')">This is the Global site. The RADIUS ports cannot be changed.</p>

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <div id="devicelist-table" class="table-responsive">
                        <div class="authenticatorErrors" ng-if="xhrEndpointError">
                            <div class="alert alert-{{ xhrEndpointError.type }}" role="alert">
                                <button type="button" class="close" ng-click="dismissAlert($index)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="fa fa-exclamation-circle"></i>
                                {{ xhrEndpointError.msg }}
                            </div>
                        </div>

                        <table  class="table table-bordered table-hover table-condensed" name="tableForm" ng-form="tableForm" disable-filter="isAdding" ng-class="{'locked' : !formPortProvisionEditable }">
                            <colgroup ng-if="formPortProvisionEditable">
                                <col width="20%" />
                                <col width="17%" />
                                <col width="17%" />
                                <col width="16%" />
                                <col width="20%" />
                                <col width="10%" />
                            </colgroup>
                            <tr>
                                <th>IP</th>
                                <th>Auth Port</th>
                                <th>Acct Port</th>
                                <th>Region</th>
                                <th>Secret</th>
                                <th></th>
                            </tr>

                            <tr ng-class="global_endpoint === true ? 'warning': ''" ng-repeat="item in endpointsData" ng-form="rowForm">

                                <td>{{item.IpAddress}}</td>
                                <td>{{item.Port}}</td>
                                <td>{{ parseInt(item.Port) + 1 }}</td>
                                <td>{{extract_region(item.Region)}}</td>
                                <td>{{item.Secret}}</td>

                                <td ng-if="formPortProvisionEditable" class="text-center">
                                    <button class="btn btn-danger btn-sm" ng-click="confirmDelEndpoint(item)" ng-if="!global_endpoint">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                    <span class="fa fa-globe padding-span" ng-if="global_endpoint" data-placement="bottom" title="Global Endpoint" tooltip></span>
                                </td>
                            </tr>
                            <tr ng-form="addRowForm" ng-if="formPortProvisionEditable && endpointsData.length != 2">
                                <td>
                                    <strong>Region</strong>
                                </td>
                                <td colspan="2">
                                    <dropdown ng-model="region" items="regions" callback="regionCallback" required></dropdown>
                                </td>
                                <td colspan="3" class="text-center">
                                    <button class="btn btn-success btn-sm" ng-click="addEndpoint()">
                                        Provision
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </form>
        </div>

        <!-- <connection-info></connection-info> -->

    </div><!-- End modal-body (edit) -->

    <div class="modal-footer">
        <a id="closeModal" class="btn" ng-click="close()">Close</a>

        <a id="btnEditGroup" class="btn btn-primary" ng-click="updateGroup(groupForm)">Update</a>

    </div>

</div>
